// Styling for custom cards
// Custom class for the background icon in card blocks
.card-title {
  text-align: center;
  a {
    color: $red;
  }
}

.card-header{
  text-align: center;
  color: $red;
}

.card-text{
  text-align: justify;
}