#contact-page-details{
  background-color: #E85245;
  padding-top: 10px;
}

#contact-page{
  border-radius: 2em;
  margin-top:28%;
  background-color: white;
  input {
    &[type=text], &[type=tel], &[type=email] {
      width: 100%;
      border-width: 0 0 1px 0;
    }
  }
  textarea{
    width: 100%;
    border-width: 0 0 1px 0;
    height: 150px!important;
  }

  .form-control{
    &:focus {
      box-shadow: none;
    }
  }
}

.bmd-label-floating{
  color: #3e3e3e !important;
}

#contact-map{
  z-index: -1;
  position: absolute;
  width: 100%;
}
