// Global styling for this template

a{
  text-decoration: none!important;
  color: $red;
  &:hover{
    color: $red;
  }
}

.padding-top{
  padding-top: 30px;
}
.padding-bottom{
  padding-bottom: 30px;
}
.padding-left{
  padding-left: 30px;
}
.padding-right{
  padding-right: 30px;
}

*{




  font-family: 'Arimo', sans-serif;

}
