// Footer
footer.footer
  .container-fluid
    #footer-main-content.row
      .col-md-3
        h4.title FINA
        p.text-left Don't miss what happens around us, follow us on our social channels
        .ssk-lg
          a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs').ssk.ssk-facebook
          a(href='https://www.youtube.com/user/fina2net' style='background-color:red').ssk.ssk-youtube
          a(href='https://twitter.com/fina2').ssk.ssk-twitter
          a(href='https://www.linkedin.com/company/fina-ltd/').ssk.ssk-linkedin

      .col-md-3
        h4.title Menu
        .category
          a(href='about_fina.html') Team
          a(href='partners.html') Partners
          a(href='clients.html') Clients
          a(href='http://summit2015.fina2.net') Workshops
      .col-md-3
        h4.title Products
        .category
          a(href='FINA-IRP.html') FINA IRP
          a(href='') FINA BI
          a(href='') FINA STAT
          a(href='') FINA EMS
          a(href='') DKMS
      .col-md-3
        h4.title Contact
        .row.footer-contact-info
          div.col-lg-12
            a
              i.fa.fa-map-marker
              | Shartava str #40 Tbilisi, 0160
          div.col-lg-12
            a
              i.fa.fa-phone
              |  + 995 32 2 42 03 18
          div.col-lg-12
            a
              i.fa.fa-envelope-o
              | Info@fina2.net
    hr
    #copyright.row
      .col-sm-6.text-left
        p(style='font-size: 12px')
          | Copyright 2018. All right reserved
      .col-sm-6.text-right
        p(style='font-size: 12px')
          | Developed by:
          a(href='http://fina.bi') FINA