// Footer
footer.footer
  .container-fluid
    #footer-main-content.row
      .col-md-3
        .row
          .col-12
            h4.title FINA
          .col-12
            p.text-left Don't miss what happens around us, follow us on our social channels
          .col-12
            .ssk-lg
              a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs' target="_blank").ssk.ssk-facebook
              a(href='https://www.youtube.com/user/fina2net' style='background-color:red' target="_blank").ssk.ssk-youtube
              a(href='https://twitter.com/FINA2NET' target="_blank").ssk.ssk-twitter
              a(href='https://www.linkedin.com/company/fina-ltd/' target="_blank").ssk.ssk-linkedin

      .col-md-3
        ul.list-group
          li.list-group-item
            h4.title Menu
          li.list-group-item.footer-item
            a(href='about.html') About
          li.list-group-item.footer-item
            a(href='partners.html') Partners
          li.list-group-item.footer-item
            a(href='clients.html') Clients
          li.list-group-item.footer-item
            a(href='http://fina2training.blogspot.com') Workshops
          li.list-group-item.footer-item
            a(href='vacancies.html') Careers
          li.list-group-item.footer-item
            a(href='contact.html') Contact
      .col-md-3
        ul.list-group
          li.list-group-item
            h4.title Products
          li.list-group-item.footer-item
            a(href='FINA-IRP.html') IRP
          li.list-group-item.footer-item
            a(href='fina-bi.html') BI
          li.list-group-item.footer-item
            a(href='dkms.html') DKMS
          li.list-group-item.footer-item
            a(href='first.html') FIRST
          li.list-group-item.footer-item
            a(href='ems.html') EMS
          li.list-group-item.footer-item
            a(href='dms.html') DMS
          li.list-group-item.footer-item
            a(href='creg.html') CREG
          li.list-group-item.footer-item
            a(href='imof.html') iMof
      .col-md-3
        h4.title Contact
        .row.footer-contact-info
          div.col-lg-12
            a.text-left
              i.fa.fa-map-marker
              | Zhiuli Shartava str 40. Floor 9
          div.col-lg-12
            a.text-left
              | Room 913 ,0160 Tbilisi, Georgia
          div.col-lg-12
            a
              i.fa.fa-phone
              |  + 995 592 93 33 39
          div.col-lg-12
            a
              i.fa.fa-envelope-o
              | Info@fina2.net
    hr
    #copyright.row
      .col-sm-6.text-left
        p(style='font-size: 12px')
          | Copyright 2020. All right reserved
      .col-sm-6.text-right
        p(style='font-size: 12px')
          | Developed by:
          a(href='http://fina2.net') &nbspFINA
