//
  #social_side_links
  #social-links-container.social-links-class
    .social-icons.icon-circle
      a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs')
        i.fa.fa-facebook-square
      a(href='https://www.youtube.com/user/fina2net')
        i.fa.fa-youtube
      a(href='https://twitter.com/fina2')
        i.fa.fa-twitter
      a(href='https://www.linkedin.com/company/fina-ltd/')
        i.fa.fa-linkedin
  a.icon-btn(onclick='myFunction()')
    i#social_side_links-btn.fa.fa-plus


.container
  .ssk-sticky.ssk-left.ssk-center.ssk-md
    a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs').ssk.ssk-facebook
    a(href='https://www.youtube.com/user/fina2net' style='background-color:red').ssk.ssk-youtube
    a(href='https://twitter.com/fina2').ssk.ssk-twitter
    a(href='https://www.linkedin.com/company/fina-ltd/').ssk.ssk-linkedin


