.container
  .ssk-sticky.ssk-left.ssk-center.ssk-md
    a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs').ssk.ssk-facebook
    a(href='https://www.youtube.com/user/fina2net' style='background-color:red').ssk.ssk-youtube
    a(href='https://twitter.com/fina2').ssk.ssk-twitter
    a(href='https://www.linkedin.com/company/fina-ltd/').ssk.ssk-linkedin


