.container
  .ssk-sticky.ssk-left.ssk-center.ssk-md
    a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs' target="_blank").ssk.ssk-facebook
    a(href='https://www.youtube.com/user/fina2net' style='background-color:red' target="_blank").ssk.ssk-youtube
    a(href='https://twitter.com/fina2' target="_blank").ssk.ssk-twitter
    a(href='https://www.linkedin.com/company/fina-ltd/' target="_blank").ssk.ssk-linkedin


