.container
  .ssk-sticky.ssk-right.ssk-center.ssk-md
    a(href='').ssk.ssk-share.ssk-facebook
    a(href='').ssk.ssk-share.ssk-twitter
    a(href='').ssk.ssk-share.ssk-linkedin
    a(href='').ssk.ssk-share.ssk-email



