.container
  .ssk-sticky.ssk-left.ssk-center.ssk-md
    a(href='').ssk.ssk-facebook
    a(href='').ssk.ssk-twitter
    a(href='').ssk.ssk-linkedin
    a(href='').ssk.ssk-google-plus
    a(href='').ssk.ssk-email



