// Navigation
nav.sticky-top
  .navbar.navbar-expand-lg.container-fluid.navbar-container
    span#sl-content.nav-item
      a(href='./')
        img(src='assets/img/fina-logo.png' alt="logo").navbar_fina_logo
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      span.navbar-toggler-icon
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.dropdown
          a#navbarDropdownBlog.menuitem.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            | Products
          .dropdown-menu(aria-labelledby='navbarDropdownBlog')
            a.dropdown-item(href='Regulatory-Platform-FINA-IRP.html')  FINA IRP
            a.dropdown-item(href='Data-visualization-tools-fina-bi.html')  BI
            a.dropdown-item(href='EMS-Enforcement-Management-System-fina.html')  EMS
            a.dropdown-item(href='Dynamic-Knowledge-Management-System-FINA.html')  DKMS
            a.dropdown-item(href='Financial-Institutions-Registry-FIRST-FINA.html')  FIRST
            a.dropdown-item(href='Document-Management-System-DMS-FINA.html')  DMS
            a.dropdown-item(href='Financial-Institutions-and-Supervisory-Entities-CREG-FINA.html')  CREG
            a.dropdown-item(href='Integrated-System-for-Ministry-of-Finance-FINA.html')  IMOF
        li.nav-item
          a.nav-link.menuitem(href='About-FINA.html') About
        li.nav-item
          a.nav-link.menuitem(href='FINA-Partners.html') Partners
        li.nav-item
          a.nav-link.menuitem(href='FINA-CLIENTS.html') Clients
        li.nav-item
          a.nav-link.menuitem(href='http://fina2training.blogspot.com', target='_blank') Workshops
        li.nav-item
          a.nav-link.menuitem(href='FINA-Careers.html') Careers
        li.nav-item
          a.nav-link.menuitem(href='Contact-FINA.html') Contact
