doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA LLC

        include includes/css/core.pug

        // Page level plugin CSS

        include includes/css/custom.pug

    body
        include includes/navbar.pug
        include includes/media-icons


        include includes/footer.pug

        include includes/js/core.pug

        include includes/js/custom.pug

