// Bootstrap brand color customization
$brand-primary: $red !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info:  $red !default;
$brand-rose:  $red !default;
