doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Assistant-Finance-Director.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Assistant Finance Director" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/Assistant-Finance-Director-FINA.jpg" )

        title Assistant Finance Director - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Assistant Finance Director
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | Company FINA LLC announces a vacancy for the position of Assistant Finance Director
                                    br
                                    br
                                    div(style='font-weight:bold') We Offer:
                                    ul
                                        li Flexible work schedule: part-time or full time;
                                        li Continuous professional development;
                                        li Will help you to manage University-related tasks in the office :) ;
                                        li Ability to work on interesting and versatile projects;
                                        li Working with Agile team members and a friendly working environment;
                                        li Friendly working environment, on Saburtalo Shartava, st. 40.
                                    div(style='font-weight:bold')  What you'll get:
                                    ul
                                        li An interesting and highly rewarding job after a successful internship;
                                        li 400 GEL during the internship;
                                        li Best Practice and Theory You could learn nowhere;
                                        li Experience and recommendation letter;
                                        li The possibility of working with international projects.
                                    div(style='font-weight:bold')  Work plan/goals:
                                    ul
                                        li Automation of financial transactions for IFRS type accounting;
                                        li Automation of financial / accounting software Oris, 1c, Business Central;
                                        li Automation of contracts and invoices in ERP system;
                                        li Comparative analysis of financial sector reporting in 10 different countries;
                                        li XBRL reporting.
                                    div(style='font-weight:bold') What you need to know: (Google is acceptable :)
                                    ul
                                        li Experience working with office packages (MS Office or G Suite);
                                        li Knowledge of MS Excel or Google Sheets products;
                                        li Good knowledge of English and Russian in the spoken and written context;
                                        li Knowledge of financial/accounting fundamentals is desirable;
                                        li Students and applicants who do not study at all are also welcome;
                                    div Interested candidates, please fill in the Application Form and attach your CV;
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/200472646680052", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now

        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
