doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Interns.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Interns" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/Jobs-Interns-FINA.jpg" )

        title Interns - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | General Vacancies/Interns
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | LLC FINA hires only the best. People who thrive in a culture of innovation and empowerment. People who are active learners and have a positive attitude. People who are leaders and know that by working together we can run faster, reach higher and achieve more.
                                    br
                                    | We are looking for a creative persons, who are interested in joining our team as an interns. This is a paid internship where you will gain in-depth skills in our tech stack that will take you further to success. It provides students a valuable experience with real world applications while being able to work a part-time, flexible schedule to fit your educational needs.
                                    br
                                    | What We Look For:
                                    ul
                                        li You must be able to commute to our office during the internship
                                        li Ability to quickly learn new technologies
                                        li Have a natural curiosity to dig into a problem or task until completed
                                    | During your internship, you will be mentored by a senior members of the LLC FINA team and receive regular feedback as to your performance highlighting your successes and potential areas for growth.
                                    br
                                    | Based on company needs and your evaluation, you may be considered for continuing internship or full-time employment opportunities upon graduation.
                                    br
                                    | If you think, that you are awesome enough and you want to become a professional
                                    ul
                                        li .NET Developer
                                        li JAVA Developer
                                        li JavaScript Developer
                                        li System Integrator
                                        li Business analyst
                                        li Linux Administrator
                                        li Project Manager
                                        li IT Support
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://goo.gl/forms/fyIohCD1kDkwSyBw1", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now



        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
