doctype html
html(lang="en")
    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');


        meta(property="og:url", content="http://fina2.net/IT-Support.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="IT Support" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/IT-support.png" )

        title IT Support - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | IT Support
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | <span style="font-weight: bold">Company FINA LLC announces a vacancy for the position of IT Support Specialist</span><br/><br/><table><tr><td><span style="font-weight: bold">Functions and responsibilities:</span></td></tr><tr><td>*   Support for software products;</td></tr><tr><td>*   Applications testing / Quality control;</td></tr><tr><td>*   Participate in international projects;</td></tr></table><br/><table><tr><td><span style="font-weight: bold">Qualification requirements:</span></td></tr><tr><td>1) Motivation</td></tr><tr><td>2) Motivation</td></tr><tr><td>3) Motivation</td></tr></table><br/><table><tr><td><span style="font-weight: bold">It will be good if you know:</span></td></tr><tr><td>**   Basics of Database;</td></tr><tr><td>**   MS Office Excel;</td></tr><tr><td>**   Basic knowledge of programming.</td></tr></table><br/><table><tr><td><span style="font-weight: bold">We Offer:</span></td></tr><tr><td>***  Permanent professional development.</td></tr><tr><td>***  The possibility of working with international projects. (USAID, WB, GIZ, UNDP...)</td></tr><tr><td>***  Working with Agile qualified team members and a friendly working environment.</td></tr></table><br/>Interested candidates, please fill in the Application Form and attach your CV.
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/F1YkKBBTLLyUmyn89", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Application Form



        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom

