doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/JAVA-Developer.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="JAVA Developer" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/java_developer_FINA.png" )

        title Java Developer - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Java Developer
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | Company FINA LLC announces a vacancy for the position of JAVA Developer.
                                    br
                                    br
                                    div(style='font-weight:bold')  Responsibilities:
                                    ul
                                        li A person or student with higher education (in the field of information technology)
                                        li Knowledge of the programming (Java)
                                        li Knowledge of the basics of working with relational databases
                                        li Ability to quickly master new technologies
                                        li Ability to work in a team
                                        li Knowledge of foreign languages will be an advantage
                                    div(style='font-weight:bold')  We offer you:
                                    ul
                                        li Permanent professional development;
                                        li Working with members of the qualified Agile team;
                                        li Opportunity to work on multilateral projects with international and prestigious organizations (World Bank, USAID, UNDP, etc.);
                                        li Attractive salary and positive working atmosphere.
                                    div Interested candidates, please fill in the Application Form and attach your CV.
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/h5LtRJBQx8MYqYkZ6", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now

        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
