doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Linux-System-Administrator.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Linux System Administrator" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/linux_system_administrator_FINA.png" )

        title Linux System Administrator - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Linux System Administrator
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | Company FINA LLC announces a vacancy for the position of Power Linux System Administrator
                                    br
                                    br
                                    div(style='font-weight:bold')  Responsibilities:
                                    ul
                                        li Administer and manage Linux systems;
                                        li Install and support standard services on Linux systems;
                                        li Management of the company's internal infrastructure;
                                        li Perform other work-related assignments.
                                    div(style='font-weight:bold')  Requirements:
                                    ul
                                        li Solutions to Linux systems;
                                        li Knowledge of The Docker (Preferably);
                                        li Reservation and Archiving Technologies (Preferably);
                                        li MS EXCEL.
                                    div(style='font-weight:bold')  We offer you:
                                    ul
                                        li Permanent professional development;
                                        li The possibility of working with international projects (USAID, WB, GIZ, UNDP...);
                                        li Working with Agile qualified team members and a friendly working environment.
                                    div Interested candidates, please fill in the Application Form and attach your CV.
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/1niEvtFCJJmoiYDA7", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now

        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
