doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Office-Manager.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Office Manager" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/office_manager_FINA.png" )

        title Office Manager - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Office Manager
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | <span style="font-weight: bold">Job Description:</span><br>- Managing correspondence and documentation management;<br> - Planning/organizing meetings<br> - Organizing company events<br> - Working with social media<br> - Support logistics activities<br><br> <span style="font-weight: bold">Mandatory requirements(which actually means mandatory;):</span><br> - Experience working with office packages (MS Office or G Suite)<br> - Knowledge of MS Excel or Google Sheets products<br> - Good knowledge of English and Russian in the spoken and written context;<br> - Tech-Friendly;<br> - Ability to work with social media;<br> - High interest in information technology.
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://docs.google.com/forms/d/e/1FAIpQLSf5RBUtTuVTrYq3hMnh0vFt8mvErHl7YMvd7TF_A2BPgq2xJA/viewform", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now



        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
