doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Power-BI-Specialist.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Power BI Specialist" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/power_bi_FINA.png" )

        title Power BI Specialist - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Power BI Specialist
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | Company FINA LLC announces a vacancy for the position of Power BI Specialist
                                    br
                                    br
                                    div(style='font-weight:bold')  Responsibilities:
                                    ul
                                        li Independent planning and implementation of national/local and international IT projects;
                                        li Project management and consultation within the technology area of the profession;
                                        li Planning and implementation of IT solutions through analytical descriptive data and procedures, including communication structures and tools.
                                    div(style='font-weight:bold')  Requirements:
                                    ul
                                        li Strong written and spoken Russian and English language skills;
                                        li Experience in designing ETL processes including knowledge of data warehousing strategies and theories;
                                        li Build dashboards, reports and cubes using SQL, MDX, DAX, Power BI or other visualisation tools;
                                        li Knowledge of MS Excel;
                                        li Preferable experience of managing Database;
                                        li Knowledge of both theoretical and practical aspects of project management.
                                    div(style='font-weight:bold')  We offer you:
                                    ul
                                        li Personal and professional development;
                                        li Working with members of the qualified Agile team;
                                        li Opportunity to work on multilateral projects with international and prestigious organizations (World Bank, USAID, UNDP etc.);
                                        li Attractive salary and positive working atmosphere.
                                    div Interested candidates, please fill in the Application Form and attach your CV.
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/5NBCGyrgD46JYDUn8", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now

        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
