doctype html
html(lang="en")
    head
        include ../includes/header
        meta(property="og:url", content="http://fina2.net/Project-Manager.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Project Manager" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/vacancies/project_management_FINA.png" )

        title Project Manager - FINA

        include ../includes/css/core
        include ../includes/css/custom

    body
        include ../includes/navbar
        include ../includes/media-icons

        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

                        .row.padding-bottom.padding-bottom.vacancies-card
                            .col-lg-12.col-md-12
                                .vacancies-title.mt-3
                                    | Project Manager
                                hr.vacancies-hr
                            .col-lg-12.col-md-12
                                .vacancies-text
                                    | Company FINA LLC announces a vacancy for the position of Project Manager<br/><br/><span style="font-weight: bold">Responsibilities:</span><ul><li>Management and responsibility of implementation for IT projects including technical implementation of IT solutions.</li><li>Independent planning and implementation of national/local and international IT projects.</li><li>Project management and consultation within the technology area of profession.</li><li>Planning and implementation of IT solutions through analytical descriptive data and procedure, including communication structures and tools.</li></ul><br/><span style="font-weight: bold">Requirements:</span><ul><li>Strong written and spoken Russian and English language skills.</li><li>Knowledge of MS Project, Jira, Confluence, Visio, Excel, Word and PowerPoint.</li><li>Preferable experience of managing Database.</li><li>Knowledge of both theoretical and practical aspects of project management.</li></ul><br/><span style="font-weight: bold">We offer you:</span><ul><li>Personal and professional development.</li><li>Working with members of the qualified Agile team.</li><li>Opportunity to work on multilateral projects with international and prestigious organizations. (World Bank, USAID, UNDP etc.)</li><li>Attractive salary and positive working atmosphere.</li></ul><br/>
                            .col-lg-12
                                .text-center.mt-4
                                    a(href="https://forms.gle/9GkpzMe1eJtfafUC6", target="_blank", style="color:white!important")
                                        .btn.my-btn
                                            strong Apply Now



        include ../includes/footer
        include ../includes/js/core
        include ../includes/js/custom
