doctype html
html(lang="en")
    head
        title FINA LLC

        include includes/css/core
        include includes/css/custom



    div.padding-top
        h1.text-center 404 error
        h3.text-center Oops...
        h3.text-center page not found
        .text-center.padding-top
            a(href='index.html').btn.my-btn Home
            a(href='contact.html').btn.my-btn Contact

    include includes/js/core
    include includes/js/custom