doctype html
html(lang="en")
    head
        title About - FINA

        include includes/header
        include includes/css/core
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        div
            .container-fluid
                .row.padding-top
                    .col-md-6.offset-lg-1.col-12
                    .col-lg-6.offset-lg-1.my-auto
                        h2.text-center ABOUT US
                        p.text-justify FINA LLC is a software development and IT consulting company established in 2006 in Georgia. Our main preference is to earn your trust through our commitment and integrity extending maximum value and striving to exceed your expectations.
                        p.text-justify The Company owns a ~150 square meter office in the center of Tbilisi (Capital of Georgia). Company is equipped with up-to-date computer hardware. The basic software platform has a high degree of standardization and a wide range of specialized software and is used for system design, development, quality assurance, project management and reporting.
                        p.text-justify The Company has 3 type of servers: Development, QA/testing and other consulting purposes (web server, financial server, etc.). We pay special attention to business reliability, continuity and IT-security. We are using following Project management infrastructures:
                        div
                            ul
                                li Jira - as Agile Development Project Management tool.
                                li Bitbucket.org - as a source code GIT repository.
                                li Sourceforge.net - as File Release system.
                                li Jenkins - as Build Management.
                                li Google Apps - For E-mails, docs and other services.

                    .col-lg-4.my-auto
                        img(src='assets/img/about/FINA_About.png').img-fluid
                .row
                    .col-12.text-center
                        h2 FINA AWARDS
                .row.padding-top
                    .col-lg-5.offset-lg-1
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/un_global_compact_fina.png').img-fluid
                            .col-10
                                div.text-justify 2020 Partnership Sustainable Award Winners In nomination "Planet"
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/GITI_2019_FINA.jpg').img-fluid
                            .col-10
                                div.text-justify 2019 GITI Winners - The ICT Business council of Georgia in nomination "The Best Complex Business Solution"
                    .col-lg-5
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/TBC_Business_Award_FINA_2017.png').img-fluid
                            .col-10
                                div.text-justify 2017 TBC Business Award Winners in nomination "The Innovative Business of The Year"
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/GITI_2016_FINA.jpg').img-fluid
                            .col-10
                                div.text-justify 2016 GITI Winners - The ICT Business council of Georgia in nomination "The Best Complex Business Solution”
                .row.padding-top
                    .col-md-5.offset-md-1.col-12
                        h3 INDUSTRY EXPERTISE
                        ul
                            li Financial Regulators and Supervisors: Central / National Banks, Regulatory Commissions etc.
                            li Financial Service Providers: Banks, Microfinance Institutions, Insurance companies, etc.
                            li Government Agencies and Ministries.
                    .col-md-5
                        h3 FINA SOLUTIONS
                        ul
                            li Supervisory Information Systems for Financial Regulators (Regtech / Suptech).
                            li Business Intelligence & Statistical Analysis.
                            li Document & Workflow Management Systems.

                .row.padding-top.padding-bottom
                    .col-md-8.offset-md-4.col-12
                    .col-lg-4.offset-lg-1.my-auto
                        img(src='assets/img/about/FINA_TEAM.png').img-fluid

                    .col-lg-6.my-auto
                        h2.text-center FINA TEAM
                        p.text-justify  We believe that our employees are our main asset. Our HR policy is focused on talent acquisition and retention. We understand that we empower ourselves by empowering our team. We are open to active cooperation. We love our work. You'll love the results. We believe that people are the key for successful projects, for effective development services and more importantly, an ongoing relationship with the clients. The permanent staff of the team is ~ 20 full time employees. Most of the staff are academic professionals, holding Master or Bachelor degrees and/or University diplomas in ICT, Software Development, Mathematics, Economics, Management, etc. The management team has grown significantly since the firm was founded and has attracted many young talents. Three most valuable features of the team are: professionalism, reliability and confidentiality. Very important National organizations are entrusting their business-critical application development to FINA.



        include includes/footer
        include includes/js/core
        include includes/js/custom

