doctype html
html(lang="en")
    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');


        title FINA LLC

        include includes/css/core
        include includes/css/custom



    body
        include includes/navbar
        include includes/media-icons

        div
            .container-fluid
                .row.padding-top
                    .col-md-6.offset-lg-1.col-12
                        h2.text-center About Us
                    .col-lg-6.offset-lg-1
                        p.text-justify FINA is a software development and consulting company established in 2006 in Georgia. Our main preference is to earn your trust through our commitment and integrity extending maximum value and striving to exceed your expectations.
                        p.text-justify LLC FINA owns ~150 square meter office in the center of Tbilisi (Capital of Georgia). Company is equipped with up-to-date computer hardware. The basic software platform has a high degree of standardization and a wide range of specialized software and is used for system design, development, quality assurance, project management and reporting.
                        p.text-justify As a part of Microsoft BizSpark we use Virtual Servers on Microsoft Azure. FINA has 3 type of servers: Development, QA/testing and other consulting purposes (web server, financial server, etc.). FINA pays special attention to business reliability, continuity and IT-security. We are using following Project management infrastructures:
                        div
                            ul
                                li Jira - as Agile Development Project Management tool
                                li Bitbucket.org - as a source code GIT repository.
                                li Sourceforge.net - as File Release system;
                                li Jenkins - as Build Management;
                                li Google Apps - For E-mails, docs and other services.

                    .col-lg-4
                        img(src='assets/img/about/image3.png').img-fluid
                .row.padding-top
                    .col-md-5.offset-md-1.col-12
                        h3 INDUSTRY EXPERTISE:
                        ul
                            li Financial Regulators and Supervisors: Central / National Banks, Regulatory Commissions etc.
                            li Financial Service Providers: Banks, Microfinance Institutions, Insurance companies, etc.
                            li Government Agencies and Ministries.
                    .col-md-5
                        h3 SOLUTION EXPERTISE:
                        ul
                            li Supervisory Information Systems for Financial Regulators;
                            li Business Intelligence & Statistical Analysis;
                            li Document & Workflow Management Systems.

                .row.padding-top
                    .col-md-8.offset-md-4.vol-12
                        h2.text-center Team
                    .col-lg-4.offset-lg-1
                        img(src='assets/img/about/image1.png').img-fluid

                    .col-lg-6
                        p.text-justify  We believe that our employees are our main asset. Our HR policy is focused on talent acquisition and retention. We understand that we empower ourselves by empowering our team. We are open to active cooperation. We love our work. You'll love the results. FINA is proud of its team. We believe that people are the key for successful projects, for effective development services and more importantly, an ongoing relationship with the clients. The permanent staff of FINA is ~ 20 full time employees. Most of the staff are academic professionals, holding Master or Bachelor degrees and/or University diplomas in ICT, Software Development, Mathematics, Economics, Management, etc. The management team of FINA has grown significantly since the firm was founded and has attracted many young talents. Three most valuable features of the team are: professionalism, reliability and confidentiality. Very important National organizations are entrusting their business critical application development to FINA.
                .row
                    .col-12.text-center
                        h2 Awards
                .row.padding-bottom
                    .col-lg-5.offset-lg-1
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/giti.jpg').img-fluid
                            .col-10
                                div.text-justify 2019 LLC FINA has been awarded by GITI - The ICT Business council of Georgia in nomination "the best complex business solution"
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/giti.jpg').img-fluid
                            .col-10
                                div.text-justify 2016 LLC FINA has been awarded by GITI - The ICT Business council of Georgia in nomination "the best complex business solution"

                    .col-lg-5
                        .row.padding-top
                            .col-2
                                img(src='assets/img/about/ba.png').img-fluid
                            .col-10
                                div.text-justify 2017 LLC FINA was the winner of the TBC Business award in nomination "The innovative business of the year";

        include includes/footer
        include includes/js/core
        include includes/js/custom

