doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='This page contains information about our clients and projects in different countries.')
        meta(name='author', content='')

        title Clients - FINA

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons


        .container.padding-top
            .row
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/NBG.jpg', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/Eiec.png', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/Rwanda.jpg', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/NBKR.PNG', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/BOL.png', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/BankMongolia.png', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/Congo.jpg', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/BankAzerbaijan.png', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
                .col-lg-4.col-md-4.col-sm-6.padding-top
                    .hvrbox.client-padding
                        img.hvrbox-layer_bottom.img-size(src='assets/img/tmp/NBT.png', alt='Mountains')
                        .hvrbox-layer_top.hvrbox-layer_slideup
                            .hvrbox-text
                                p FinA @ National Bank of Georgia
                                p 2017-2018
        .padding-top
            iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1gShkQ1STsefhwpQCEPRuFjZXX4xR3NiV', width='100%', height='400px')


        include includes/footer

        include includes/js/core

        include includes/js/custom

