doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='In case of any questions you can contact us using simple form or communicate with us through any social media channel, we will respond as soon as possible')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/contact.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="Change Title" )
        meta(property="og:description", content="Change Description" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title Contact - FINA

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons


        #contact-page.container-fluid()
            .row
                div.contact-right-side.col-md-4
                    div(style="height:calc(380px + 14vh); margin-top:6vh;")
                        .padding-top.text-center
                            span(style="font-weight:bold") Address
                            hr
                        .text-center
                            span Zhiuli Shartava str 40
                        .padding-top.text-center
                            span Floor 9, Room 913
                        .padding-top.text-center
                            span 0160 Tbilisi, Georgia
                        .padding-top.text-center(style="padding-top:38px!important")
                            span(style="font-weight:bold")  Phone
                            hr
                        .text-center
                            span + 995 032 2 42 03 18
                        .padding-top.text-center(style="padding-top:38px!important")
                            span(style="font-weight:bold") Mail
                            hr
                        .text-center
                            span info@fina2.net

        #contact-map-container.container-fluid(style="padding:0 0 0 0; margin: 0!important")
            #contact-map(style="width:100%;height:calc(400px + 20vh);")
            script.
                function myMap() {
                    var uluru = {lat: 41.730297, lng: 44.7695915};
                    var map = new google.maps.Map(document.getElementById('contact-map'), {
                        zoom: 15,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map,
                    });
                }

            script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB835ntbgAP98-vne6k1NqnyK174Q0xBJo&callback=myMap").

        include includes/footer
        include includes/js/core

        include includes/js/custom

        script().
            $(document).ready(function () {
                if(window.innerWidth < 750)
                    $('#contact-map-container').addClass("map-padding");
                else
                    $('#contact-map-container').removeClass("map-padding");
            })

            window.onresize = () => {
                if (window.innerWidth < 750)
                    $('#contact-map-container').addClass("map-padding");
                else
                    $('#contact-map-container').removeClass("map-padding");
            }