doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='In case of any questions you can contact us using simple form or communicate with us through any social media channel, we will respond as soon as possible')
        meta(name='author', content='')

        title Contact - FINA

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons


        #contact-page.container-fluid(style="padding-left:5%!important;padding-right:5%!important; padding-bottom:40px")
            .row
                div(style="").contact-right-side.col-lg-4
                    div
                        .padding-top.text-center
                            span(style="color: rgba(0, 0, 0, 0.75); font-weight:bold") Address
                            hr(style="background-color:#FF0000")
                        .text-center
                            span(style="color: rgba(0, 0, 0, 0.75)") Zhiuli Shartava str 40
                        .padding-top.text-center
                            span(style="color: rgba(0, 0, 0, 0.75)") Floor 9, Room 913
                        .padding-top.text-center
                            span(style="color: rgba(0, 0, 0, 0.75)") 0160 Tbilisi, Georgia
                        .padding-top.text-center(style="padding-top:38px!important")
                            span(style="color: rgba(0, 0, 0, 0.75); font-weight:bold")  Phone
                            hr(style="background-color:#FF0000")
                        .text-center
                            span(style="color: rgba(0, 0, 0, 0.75)") + 995 032 2 42 03 18
                        .padding-top.text-center(style="padding-top:38px!important")
                            span(style="color: rgba(0, 0, 0, 0.75); font-weight:bold") Mail
                            hr(style="background-color:#FF0000")
                        .text-center
                            span(style="color: rgba(0, 0, 0, 0.75)") info@fina2.net
                .col-lg-8
                    //img(src="assets/img/building.jpg" , style='padding-bottom:15px;').img-fluid
                    .container-fluid(style="padding:0 0 400px 0!important; margin: 0!important")
                        #contact-map(style="width:100%;height:420px;")

            script.
                function myMap() {
                    var uluru = {lat: 41.730297, lng: 44.7695915};
                    var map = new google.maps.Map(document.getElementById('contact-map'), {
                        zoom: 15,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map,
                        title: "Zhiuli Shartava N40 str",
                    });
                }

            script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB835ntbgAP98-vne6k1NqnyK174Q0xBJo&callback=myMap").

        include includes/footer
        include includes/js/core

        include includes/js/custom

