doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='In case of any questions you can contact us using simple form or communicate with us through any social media channel, we will respond as soon as possible')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/contact.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="Change Title" )
        meta(property="og:description", content="Change Description" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title Contact - FINA

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid.some-cont2(style="margin-right:5%;margin-left:5%;width:calc(100% - 10%)!important; padding-left:0!important;padding-right:0!important;")
            .row
                .col-md-4
                    .cont-box
                        div
                            i.fa.fa-map-marker(style="font-size:35px;color:rgb(234, 0, 0)")
                        div(style="font-weight:bold; color:rgb(234, 0, 0)") Address
                        div Zhiuli Shartava str 40
                        div Floor 9, Room 913
                        div 0160 Tbilisi, Georgia
                .col-md-4
                    .cont-box
                        div
                            i.fa.fa-phone(style="font-size:35px;color:rgb(234, 0, 0)")
                        div(style="font-weight:bold; color:rgb(234, 0, 0)")  Phone
                        div + 995 032 2 42 03 18
                .col-md-4
                    .cont-box
                        div
                            i.fa.fa-envelope-o(style="font-size:35px;color:rgb(234, 0, 0)")
                        div(style="font-weight:bold;color:rgb(234, 0, 0)") Mail
                        div info@fina2.net


        #contact-map-container.container-fluid(style="padding:110px 0 0 0; margin: 0!important")
            #contact-map(style="width:100%;height:calc(300px + 18vh);")
            script.
                function myMap() {
                    var uluru = {lat: 41.730297, lng: 44.7695915};
                    var map = new google.maps.Map(document.getElementById('contact-map'), {
                        zoom: 15,
                        center: uluru
                    });
                    var marker = new google.maps.Marker({
                        position: uluru,
                        map: map,
                    });
                }

            script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB835ntbgAP98-vne6k1NqnyK174Q0xBJo&callback=myMap").

        include includes/footer
        include includes/js/core

        include includes/js/custom

        script().
            responsiveClass('#contact-map-container', "map-padding2", true);