doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');


        meta(http-equiv="Cache-control" content="public")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='FINA is a software development and consulting company established in 2006 in Georgia. We are partners with Oracle and Pentaho. FINA has been awarded in two different business award in year nominations "the best complex business solution"(2016) and "The innovative business of the year"(2017)')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="COVID-19 info" )
        meta(property="og:description", content="COVID-19 info" )
        meta(property="og:image", content="http://fina2.net/assets/img/fina-logo.png" )


        title FINA - Software Development & IT Consulting

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container
            .row
                .col-12
                    h3(style="font-weight:bold; font-family: Rubik, serif;") About FINA During COVID - 19
            .row
                .col-md-7
                    .row
                        .col-md-12
                            .covid-text-container(style="font-weight:bold;").mb-3  We, along with many others organizations, have updated our practices to ensure uninterrupted work during a pandemic outbreak.
                        .col-md-10
                            .covid-text-container We realize that in this time of pandemic, it is critical that we ensure all necessary processes and services are up and running - being in business for years and always doing the mission critical work, taught us to keep our systems sustainable. We are committed to upholding the terms and agreements set with our clients. We are working continuously to avoid delays that impact customers.
                .col-md-5
                    img(src="assets/img/covid/rem0.png").img-fluid
            .row.mt-5
                .col-md-5
                    img(src="assets/img/covid/rem1.png").img-fluid
                .col-md-7.mt-3
                    .row
                        .col-md-12
                            .covid-text-container(style="text-align: right;").mb-3   FINA LLC is a pioneer in using remote access for years and teleconferencing is also our daily routine. This will be vital in ensuring “business as usual” during the time of the pandemic. We are prepared well and our management team is regularly monitoring our performance.
                        .offset-md-2.col-md-10
                            .covid-text-container(style="text-align: right;")  If you may have any questions or assistance needed, please feel free to contact us as usual. In case there may be a problem reaching your corporate email, let us know from your personal addresses also.
            .row.mt-5
                .col-md-7.d-flex.align-items-center
                    .row
                        .col-md-10
                            .covid-text-container(style="border-radius:4px 4px 0 0;")
                                span(style="font-weight:bold; font-size:20px") All our regular contacts remain up and running:
                        .col-md-12
                            .covid-text-container(style="border-radius: 0 4px 4px 4px;")
                                div
                                    span(style="font-weight:bold;") Email:
                                    a(href="mailto: support@fina2.net") &nbsp support@fina2.net;
                                    a(href="mailto: admin@fina2.net") &nbsp admin@fina2.net;
                                    a(href="mailto: info@fina2.net") &nbsp info@fina2.net;
                                div
                                    span(style="font-weight:bold;") Mobile/Whatsapp/Viber:
                                    span &nbsp +995 599 803 513 ; +995 598 96 94 32 ; +995 598 75 70 80;
                                div
                                    span(style="font-weight:bold;") Skype:
                                    a(href="skype: fina2georgia?chat") &nbsp fina2georgia;
                                    a(href="skype: rati.barbakadze?chat") &nbsp rati.barbakadze;
                                    a(href="skype: sandro_3164?chat") &nbsp sandro_3164;
                                div
                                    span(style="font-weight:bold;") acebook:
                                    a(href="https://www.facebook.com/FINA2.NET" target='blank')  &nbsp Facebook.com/FINA2.NET
                                div
                                    span(style="font-weight:bold;") Website:
                                    a(href="http://fina2.net/" target='blank') &nbsp FINA2.NET
                .col-md-5
                    img(src="assets/img/covid/contact.png").img-fluid


        include includes/footer
        include includes/js/core
        include includes/js/custom
