doctype html
html(lang='en')

    head
        include includes/header
        title CREG - FINA

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h2 Financial institutions and Supervisory entities
                        .row
                            .col-12
                                p.text-justify Generate a big amount of data that needs analysing and processing. Data sometimes can reach up to million lines per institution. Calculating, Analysing, processing and writing this amount of information into a data warehouse requires a big amount of processing power, thus this type of operations can become expensive to fulfil and there always can be a big room for inefficiencies.
                            
                        .row
                            .col-12
                                p.text-justify CREG is a service that provides faster data processing and writing speeds. It simplifies calculation, validation and analysis processes via a simple XML configuration file. In order to upload a report in CREG  and write it in a Data warehouse, the user has to have a simple XML configuration file which describes report fields, validates values and specifies tables of database where report will be written.
                    
                        .row
                            .col-12
                                p.text-justify CREG enables users to quickly change, or add configuration files for uploaded reports, validate values and get it in the Data Warehouse. As for the reporter entities (Financial institutions) they will upload reports via the DCS web portal with specific file names. File names are defined by the CREG administrator in XML configuration. File name can be used as an information source as well, for example CREG users can retrieve FI name, report type, date or other related information and write it in Data Warehouse.
                            
                        .row
                            .col-12
                                p.text-justify CREG can be a versatile tool for report receiving tools because of its ability to process big amounts of data in a very small amount of time, users can create, configure and validate new reports with the minimal IT involvement and write information in the data warehouse. Easy to use configuration files can be used for virtually any business reporting process that involves a big amount of information.                        

        include includes/footer
        include includes/js/core
        include includes/js/custom
