doctype html
html(lang='en')

    head
        include includes/header
        meta(name='description', content='FINA BI  is a business analytics solution  that lets you visualize your data and share insights across your organization, or embed them in your app or website.' )
        meta(name='author', content='')

        title FINA: Data Visualization Tools - FINA BI

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h1 FINA BI
                        .row
                            .col-12
                                p.text-justify
                                    | In the modern world one of the most important parts of businesses' everyday life is analyzing incoming data. For this purpose modern technologies offer a broad variety of software solutions. Data analysis is a very important part of today's business processes and automatisation is key to success. For satisfying modern business needs FINA offers a wide range of business analysis tools. Alongside custom Excel dashboards and
                                    a(href='Regulatory-Platform-FINA-IRP.html' style='color: black') &nbspFINA IRP&nbsp
                                    | built in reporting FINA offers Power BI implementation on cloud or on-premise environments. Power BI presents the most powerful tool on the market. capability to import data from virtually any source, automate Data Flow processes, and automating calculating processes, almost on the level of business users makes it easy to use and powerful assistant while analyzing millions and millions of data lines. Another advantage of using Power BI is that it is Microsoft product, thus easy to use, easy to integrate any environment and has a familiar interface, derived from Microsoft excel. Other data processing softwares are well integrated with Power BI software as well: MSSQL, MYSQL, Visual Studio, Oracle Database, SAP etc. If analyzing of data is needed, using Power BI is the smartest way to the success.
                        .row
                            .col-12.text-center
                                h2 FINA BI TOOLS
                            .col-sm-12.col-md-8.my-auto
                                p.text-justify BI tools enable you to transform unstructured data into comprehensible information that are visualized in interactive dashboards, which can further be queried and filtered to come up with more relevant insights and data based decisions.
                                p.text-justify Power BI is a business analytics solution that lets you visualize your data and share insights across your organization, or embed them in your app or website. Connect to hundreds of data sources and bring your data to life with live dashboards and reports. Power BI is in Gartner Magic Quadrant for Analytics and Business Intelligence Platforms leaders board for 5 consecutive years. It’s flexibility, functionality and easy to use environment makes Power BI top desirable software in BI market.
                            .col-sm-12.col-md-4.my-auto
                                img(src='assets/img/products/bi/FINA-BI.png', alt='FINA-BI.png').img-fluid
                            .col-12
                                p.text-justify Power BI offers 3 types of products: Power BI Cloud, Power BI report Server and Power BI Desktop (BI desktop Tool that is used for report creation). Power BI Report Server gives ability to a user to apply governance on its own terms. Build your BI environment on-premises and distribute reports behind your organization’s firewall.
                            .col-sm-12.col-md-4.my-auto
                                img(src='assets/img/products/bi/Power-BI-Fina.png', alt='Power-BI-Fina.png').img-fluid
                            .col-sm-12.col-md-8.my-auto
                                p.text-justify Power BI desktop is a report designer tool. It has a file structure and can be sent, shared and collaborated. With help of it, any user will be able to create data visualisations on its own needs. Desktop tool is easy to use, due to a simple, excel-alike query language and interface similar to power pivot. Connecting with data sources can be done in a snap of a finger. Virtually any data source can be connected to a Power BI desktop for data analyzing purposes. After connecting with existing data sources data can be further manipulated with the help of Power BI Desktop tools. After report creation in the Desktop tool File is uploaded into the Power BI Report Server. From this point reports can be further distributed and shared to users inside the organisation. For Power BI report Server Number of ‘report viewer’ users is unlimited and can be constrained by hardware capabilities, where report server is installed. From the PBI Report server users can get embeddable links which can be used for customising dashboards in existing apps.


        include includes/footer
        include includes/js/core
        include includes/js/custom
