doctype html
html(lang='en')

    head
        include includes/header
        meta(name='description', content='A document management system (DMS) is a system used to receive, track, manage and store documents and reduce paperwork.')
        title FINA: Document Management System - DMS

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h2 Document Management System
                        .row
                            .col-md-4.col-12
                                img(src='assets/img/products/dms/Document-Management-System-DMS-FINA.png').img-fluid
                            .col-md-8.col-12
                                p.text-justify Document management systems replace content chaos by storing them into one place.
                                p.text-justify DMS lets you bring organizational content under control by following features:
                                ul.irp-resp-li
                                    li Scan and save documents
                                    li Search among tons of files and in their contents
                                    li Integration files into business processes
                                    li Access control and document versioning
                                    li Collaboration possibilities
                                    li Building workflows and integrating document management into it.
                            .col-12
                                p.text-justify DMS is a system used to receive, track, manage and store documents and reduce paperwork. Capable of keeping a record of the various versions created and modified by different users (history tracking). Collaborative functionality further develops the effectiveness of business processes.
                                p.text-justify DMS resolves paperwork at its birth place. Of course paperwork is needed because business processes need to be recorded: documents must be created, approvals must be filled by multiple employees and workflow of business processes must be gone through several rooms. Document management systems can integrate all business processes, filling forms workflows and approvals. As a result all the documents, approvals, scanned files and reports are placed in DMS and this information is sharable, and can be collaborated with other users. The most important thing is that documents over time accumulate a big amount of information and this information needs to be retrieved. Because of the fact that all the information, business processes, forms, documents, recipients and approvals are already in digital form, Reports can be made with one click of a button. This makes information reachable and easy to analyse.
        include includes/footer
        include includes/js/core
        include includes/js/custom
