doctype html
html(lang='en')

    head
        include includes/header
        meta(name='description', content='Dynamic knowledge Management System is fully customizable for citizen, GIS, financial data acquisition with Intuitive user interface and customizable reporting.')
        meta(name='author', content='')

        title FINA: Dynamic Document Management System - DKMS

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                    h1(style="font-weight:bold; font-size:28px").d-sm-none.d-block DKMS
                                    h1(style="font-weight:bold; font-size:36px").d-none.d-sm-block DKMS
                                    strong(style="font-weight:bold; font-size:20px") Dynamic Knowledge Management System
                                    img(src='assets/img/products/dkms/fina-dkms-dynamic-knowledge-management-system.jpg', alt='fina-dkms-dynamic-knowledge-management-system.jpg').img-fluid
                            .col-12
                        .row.mt-3
                            .col-12.text-center
                            h2(style="font-weight:bold") Core Objectives
                            .col-12.col-md-9.my-auto
                                ul
                                    li Collect environmental data in an integrated and structured way
                                    li Ensure public participation and access to justice in line with the spirit of Aarhus Convention
                                    li Turn information into knowledge via pattern recognition
                                    li Support viable environmental impact assessment based on true data
                                    li Strengthen informed decision making in environmental policy
                            .col-3.d-none.d-md-block
                                img(src='assets/img/products/dkms/FINA-Environment-social-economic.png', alt='FINA-Environment-social-economic.png').img-fluid
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") Functionality of DKMS
                            .col-3.d-none.d-md-block
                                img(src='assets/img/products/dkms/Knowledge-Management-System-Fina.png', alt='Knowledge-Management-System-Fina.png').img-fluid
                            .col-12.col-md-9.my-auto
                                p.text-justify DKMS turns collected information streams into reusable knowledge domains, thus improving decision making, collaboration, emergency response. DKMS is fully customizable for sensor, citizen, location, financial data acquisition with Intuitive user interface and customizable reporting. DKMS is perfect tool for Government Agencies and/or private Enterprises  in Environmental, Agricultural, Emergency, Forestry policy fields.
                        .row.mt-3
                            .col-12
                                h2(style="font-weight:bold").text-center System Concept
                                .row
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/Knowldege-logo-Fina.png', alt='Knowldege-logo-Fina.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Dynamism
                                                div.text-justify Find new objects and structure data additions
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/Agile-Logo-FINA.png', alt='Agile-Logo-FINA.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Agile
                                                div.text-justify Continuous development & Close connection with customers
                                .row
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/Mangement-logo-Fina.png', alt='Mangement-logo-Fina.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Management & Centralisation
                                                div.text-justify Centralization of data and reports, Support all operating systems Multi-team & Multi-user system.
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/Modules-logo-Fina.png', alt='Modules-logo-Fina.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Modulation
                                                div.text-justify Modular design of the system; Find new additions
                                .row
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/Reports-logo-Fina.png', alt='Reports-logo-Fina.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Reporting
                                                div.text-justify Template reporting, data integration reporting, spreadsheet reporting, etc. Each report can have tag(s), which helps user to easy identify and find appropriate report
                                    .col-md-6
                                        .row.padding-top
                                            .col-2
                                                img(src='assets/img/products/dkms/BI-LOGO-Fina.png', alt='BI-LOGO-Fina.png').img-fluid.mt-2
                                            .col-10
                                                div(style="font-weight:bold;") Business Analytics
                                                div.text-justify Through BI tool, which is based on the OLAP users can perform multidimensional analysis of data from the system.
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") System Components
                            .col-12.col-md-4.offset-md-2
                                ul
                                    li Analytical Modules
                                    li Data Collector
                                    li Mobile Application
                                    li Business Analytics
                                    li Public Portal
                                    li GIS Explorer
                            .col-4.d-none.d-md-block
                                img(src='assets/img/products/dkms/Business-Analytics-FINA.png' alt='Business-Analytics-FINA.png' style='max-width:250px').img-fluid
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") Reporting
                            .col-4.d-none.d-md-block
                                img(src='assets/img/products/dkms/Reporting-FINA.png', alt='Reporting-FINA.png').img-fluid
                            .col-12.col-md-8
                                p.text-justify One way to visualize and explore data, located in the system can be done via reporting, there are several kind of reports are available in the system, such as:
                                ul
                                    li Template reporting,
                                    li Data integration reporting,
                                    li Spreadsheet reporting,
                                    li etc.
                                p Each report can have tag(s), which helps user to easy identify and find appropriate report.
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") Business Analytics
                            .col-8
                                p.text-justify Through BI tool, which is based on the OLAP users can perform multidimensional analysis of data from the system.
                            .col-4
                                img(src='assets/img/products/dkms/Reporting-FINA-DKMS.png', alt='Reporting-FINA-DKMS.png').img-fluid
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") GIS Explorer
                            .col-4.offset-2.d-none.d-md-block
                                img(src='assets/img/products/dkms/GIS-Explorer-FINA.png', alt='GIS-Explorer-FINA.png').img-fluid
                            .col-12.col-md-4
                                ul
                                    li Attributes
                                    li Advanced Search
                                    li Spatial filters
                                    li Meta data
                                    li Categorization of layers
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") Mobile Clients
                            .col-12
                                p.text-justify Features: system news, view data and add new information. Mobile applications have 2 types of users authorized and unauthorized, with appropriate permissions;
                            .col-6.offset-3
                                img(src='assets/img/products/dkms/Mobile-FINA-DKMS.png', alt='Mobile-FINA-DKMS.png').img-fluid
                        .row.mt-3
                            .col-12.text-center
                                h2(style="font-weight:bold") Outcomes
                            .col-12.col-md-9
                                ul
                                    li Integrated & universal platform for data collection across the ministry
                                    li support to policy making based on reliable data
                                    li compliance with best international practice and guidance
                            .col-3.d-none.d-md-block
                                img(src='assets/img/products/dkms/FINA-DKMS-Outcomes.png', alt='FINA-DKMS-Outcomes.png').img-fluid


        include includes/footer
        include includes/js/core
        include includes/js/custom
