doctype html
html(lang='en')

    head
        include includes/header
        meta(name='description', content='EMS - Enforcement Management System. Plan and manage onsite inspections of financial institutions.')

        title FINA: Enforcement Management System - EMS

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h2 Enforcement Management System
                        .row
                            .col-12
                                p.text-justify EMS | Enforcement Management System is a complete and complex enforcement management system that allows Financial Supervisors  to manage the schedule onsite inspection of financial institutions, work with the profile of existing financial institutions, manage documentation and work with the results of fines / sanctions / inspections. Enforcement Management System also has a document management feature and a user friendly interface with a main dashboard that displays all the elements needed for the workflow.
                            .col-md-4.col-12
                                img(src='assets/img/products/ems/Enforcement-Management-System-EMS-fina.png').img-fluid
                            .col-md-7.col-12
                                ul.irp-resp-li
                                    li Plan and manage onsite inspections, sanctions recommendations and fines
                                    li Integration with built in document management
                                    li Store and manage inspection related documentation
                                    li Configurable export/import functionality


        include includes/footer
        include includes/js/core
        include includes/js/custom
