doctype html
html(lang='en', xmlns="http://www.w3.org/1999/xhtml")

    head
        include includes/header
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/FINA-Careers.html" )
        meta(property="og:type", content="article" )
        meta(id="og_meta_title", property="og:title", content="Careers" )
        meta(id="og_meta_desc", property="og:description", content="Careers" )
        meta(id="og_meta_img", property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )
        meta(id="meta_desc", name='description', content='Careers at FINA - Join our team - We are waiting for you!')
        meta(name='description', content='Careers at FINA - Join our team - We are waiting for you!')

        title FINA Careers

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons


        .container-fluid.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

        include includes/footer
        include includes/js/core
        include includes/js/custom
        script(src='assets/js/vacancies.js')

