doctype html
html(lang='en')

    head
        include includes/header
        meta(name='description', content='Financial Institutions Registry is one of the main modules of FINA IRP, which fully covers the processes of the registration of financial institutions.')
        title FINA: Financial Institutions Registry - FIRST

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h2(style="font-weight:bold; font-size:30px").d-sm-none.d-block FIRST - Financial Institution Registry
                                h2(style="font-weight:bold").d-none.d-sm-block FIRST - Financial Institution Registry
                        .row
                            .col-md-6.col-12
                                img(src='assets/img/products/first/Financial-Institutions-Registry-CREG-FINA.png').img-fluid
                            .col-md-6.col-12
                                p.text-justify FIRST, short for Financial Institutions Registry, is one of the main modules of FINA IRP, which fully covers the processes of the registration, change and cancellation of financial institutions.
                                p.text-justify FIRST allows users to digitally carry out all the stages of the country related processes, from the receipt of the application to the issuance of the license. After the registration, each financial institution has its own profile (record) in the registry, containing: general information, administrators, branches and head office, shareholder structure, documentation related to concrete financial institutions, linking with other financial institutions, Email/SMS sending functionality and the process history.
                                p.text-justify Complex logics and system constraints minimize the likelihood of an error and increases’ employee’s efficiency by reducing time spent working with documentation.
                            .col-12
                                h2.text-center FIRST DASHBOARD
                                p.text-justify Dashboard of FIRST visualizes the most important and live data from the module, thus allowing the user to capture valuable information without going into details.
                                p.text-justify The full functionality and capabilities of FIRST includes:
                                ul.irp-resp-li
                                    li Management of registration, change and cancellation processes
                                    li Advanced search (searches in registry and in content of the documentation as well)
                                    li Reporting (export filtered information in Excel format)
                                    li Document request registry (request certain documents from the existing financial institutions and manage their submissions)
                                    li Black List (List of persons and entities unable to become administrators or shareholders, synchronizes with the profile of financial institution)
                                    li Attestation (Includes processes to in order to quality administrator before promoting to certain position in the financial institution)
                                    li Organizations and individuals (Contains information regarding auditors, liquidators and others… that are or can be related to any financial institution)

        include includes/footer
        include includes/js/core
        include includes/js/custom
