doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='In response to the need for better bank supervision systems a state-of-the-art information management system was developed for Supervision Authorities called FINA IRP. FINA IRP is the system to collect data, store them in the data base and generate different reports using very flexible report designer tools')
        meta(name='author', content='')

        title Open-source Regulatory Platform - FINA IRP

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons


        .container-fluid
            .row
                .col-lg-10.offset-lg-1.portfolio-item
                    #fina-overview-nav.row.container-fluid.padding-top
                        div.col-lg-3.col-md-3.text-center
                            a(href='#fina-overview')  Overview
                        div.col-lg-3.col-md-3.text-center
                            a(href='#fina-har-req')  Hardware Requirements
                        div.col-lg-3.col-md-3.text-center
                            a(href='#fina-sof-req')  Software Requirements
                        div.col-lg-3.col-md-3.text-center
                            a(href='#fina-net-req')  Network Requirements
            hr
        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        #fina-overview.card-body
                            h2.my-4  FINA Overview
                            p(style='text-align: center;')
                                img(src='assets/img/vaime.gif', alt='', width='540', height='360').img-fluid
                            h1
                                span(style='font-size: 14pt;')
                                    strong 1. INTRODUCTION
                            p
                                | In response to the need for better bank supervision systems a state-of-the-art information
                                | management
                                | system was developed for Bank Supervision Authorities called FINA. FINA is the system to collect
                                | data from banks, store them in the data base and generate different reports using very flexible
                                | report designer tools.
                            p The advances of the FINA are:
                            ul.irp-resp-li
                                li
                                    | FINA is fully customizable and localizable system at user level; it is independent of any
                                    | legal,
                                    | regulatory, or accounting framework. Changes in input/output forms does not require
                                    | additional
                                    | programming and can be implemented into system very quickly with any staff who knows
                                    | spreadsheet
                                    | functions.
                                li FINA is platform independent and works on Windows, Linux, AIX and Solaris.
                                li
                                    | FINA is database independent. It supports 4 main data base systems -MSSQL, Oracle, DB2
                                    | (earlier
                                    | version) and
                                    em MySQL
                                    | .
                                li FINA is 3 tire java application and this makes it scalable and extendable.
                                li
                                    | System has very low software/hardware requirements. It works on any Computer (IBM or MAC
                                    | compatible) higher than Pentium 2/200MH, on any OS supporting Java Virtual Machine (Windows,
                                    | UNIX, etc.) and on any IP based network.
                                li
                                    | FINA is open source under the GNU/GPL license. All components used in the system are free
                                    | and
                                    | does not require license fees.
                                li
                                    | Main outputs from FINA system are : UBPR (Uniform Bank Performance report), CAEL/CAMEL,
                                    | Early
                                    | Warning Systems, Trends/Time Series.
                                li
                                    | FINA is implemented and tested in 4 Central / National banks in the countries of Georgia,
                                    | Kyrgyzstan, Tajikistan and Azerbaijan. Currently being implemented in San Marino.
                            h1
                                span(style='font-size: 14pt;')
                                    strong 2. MAIN CONCEPTS
                            p
                                | Main idea of the FINA project is to build customizable system. Functionality of all central banks
                                | and
                                | supervisory agencies are very similar: data collection from banks, checking, storing to data
                                | base
                                | and then designing/generating of different reports.
                            p
                                | Returns submitted by banks (call reports, supervisory forms, statistical data, etc.) being
                                | changed
                                | time by time based on changes/additions in regulations or new business requirements. Therefore
                                | we
                                | decided to built the system which should be flexible and easy changeable. This was achieved by
                                | the
                                | concept of the Meta Data Tree. Any table can be described as hierarchical data structure called
                                | Meta
                                | Data Tree.
                            p
                                | Output reports also could be changed very often. To capture those changes into the system FINA
                                | has
                                | Report Designer. It is very flexible and easy to use tool. Meta Data Tree and Report designer
                                | makes
                                | FINA easy changeable and customizable system.
                            p
                                | FinA can be translated into any language. To configure FinA for another language user has to
                                | complete
                                | the following three procedures: a) Create locale. B) Create/Translate message bundle and c)
                                | Translate Menu/Meta Data Tree.
                            p
                                | The User Manager organizes the roles and users with access rights. Each user can have original
                                | permissions or can be member of the group (role) and inherit all predefind permissions. User
                                | management can be organized based on physical units and/or on logical groups.
                            h1
                                span(style='font-size: 14pt;')
                                    strong 3. SYSTEM ARCHITECTURE
                            h2
                            p
                                strong
                                    span(style='font-size: 12pt;') Three Tire Architecture
                            p FINA is 3 tire java application:
                            ul.irp-resp-li
                                li Client Side – Java Application and/or Web Interface
                                li Server Side – Jboss (or Oracle App. Server, Bear WebLogic, etc)
                                li Data base – My SQL, MS SQL, ORACLE, DB2
                            p
                                span(style='font-size: 14pt;') Security
                            p
                                | The default implementation of the JBoss security framework is based on the JAAS API. The JAAS 1.0
                                | API
                                | consists of a set of Java packages designed for user authentication and authorization. It
                                | implements
                                | a Java version of the standard Pluggable Authentication Module (PAM) framework and compatibly
                                | extends the Java 2 Platform’s access control architecture to support user-based authorization.
                                | JAAS
                                | authentication is performed in a pluggable fashion. This permits Java applications to remain
                                | independent from underlying authentication technologies. More details about JAAS API you can
                                | find
                            p
                        .clr
        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        .card-body
                            #fina-har-req.card-text
                                h2.my-4  FINA Hardware Requirements
                                p
                                    strong APPLICATION & DATABASE SERVER(s)
                                p
                                    | This is an estimated minimum required for the application server’s files and
                                    | database containing one year worth of data typical for a small size banking
                                    | system. In such environment FinA Database Server and Application Server can
                                    | be
                                    | installed on same machine. The amount of RAM and CPU speed to adequately run
                                    | the
                                    | FinA database is highly dependent on the amount of data being processed and
                                    | should be estimated during the capacity planning phase. See minimum and
                                    | recommended specifications below:
                                table
                                    tbody
                                        tr
                                            td
                                                p
                                                    strong Requirement
                                            td
                                                p
                                                    strong Minimum
                                            td
                                                p
                                                    strong Recommended
                                        tr
                                            td
                                                p CPU
                                            td
                                                p AMD/Celeron/Intel 1.0 MGH +
                                            td
                                                p Two 4-Core Intel® Xeon®
                                        tr
                                            td
                                                p RAM
                                            td
                                                p 8 GB
                                            td
                                                p 32 GB
                                        tr
                                            td
                                                p HDD
                                            td
                                                p 200 GB HDD
                                            td
                                                p 500 GB RAID 10 with 5(+) x 15 rpm or SSD HDDs
                                        tr
                                            td
                                                p NIC
                                            td
                                                p 1 Mbps+
                                            td
                                                p 1 Gbps
                                        tr
                                            td
                                                p Monitor/Screen
                                            td
                                                p 1024x768 +
                                            td
                                                p 1280 x1024 +
                                br
                                | For minimum and recommended configurations see also useful links
                                |                                         below:
                                br
                                ol.irp-resp-li
                                    li
                                        | Microsoft® SQL Server (MS SQL Server):
                                        a(href='http://www.microsoft.com/sql/default.mspx') http://www.microsoft.com/sql/default.mspx
                                    li
                                        | Oracle® Database (Oracle):
                                        a(href='http://www.oracle.com/database/index.html') http://www.oracle.com/database/index.html
                                    li
                                        | MySQL:
                                        a(href='http://www.mysql.com/') http://www.mysql.com
                                strong DCS | Data Collection Server(s)
                                table
                                    tbody
                                        tr
                                            td
                                                p
                                                    strong Requirement
                                            td
                                                p
                                                    strong Minimum
                                            td
                                                p
                                                    strong Recommended
                                        tr
                                            td
                                                p CPU
                                            td
                                                p AMD/Celeron/Intel 1.0 MGH +
                                            td
                                                p Two 4-Core Intel® Xeon®
                                        tr
                                            td
                                                p RAM
                                            td
                                                p 6 GB
                                            td
                                                p 16 GB
                                        tr
                                            td
                                                p HDD
                                            td
                                                p 100 GB HDD
                                            td
                                                p 500 GB +
                                        tr
                                            td
                                                p NIC
                                            td
                                                p 1 Mbps+ (DMZ)
                                            td
                                                p 100 + Mbps (DMZ)
                                        tr
                                            td
                                                p Monitor/Screen
                                            td
                                                p 1024x768 +
                                            td
                                                p 1280 x1024 +
                                strong
                                    br
                                | DCS server has to be installed in
                                |                                         DMZ
                                strong
                                    br
                                br
                                strong CLIENT WORKSTATION
                                table
                                    tbody
                                        tr
                                            td
                                                p
                                                    strong Requirement
                                            td
                                                p
                                                    strong Minimum
                                            td
                                                p
                                                    strong Recommended
                                    tbody
                                        tr
                                            td(colspan='3')
                                                p
                                        tr
                                            td
                                                p CPU
                                            td 1 GHZ
                                            td
                                                p 2 + GHZ
                                        tr
                                            td
                                                p RAM
                                            td
                                                p 2 GB
                                            td
                                                p 4 + GB
                                        tr
                                            td
                                                p HDD Free Space
                                            td
                                                p 1 GB
                                            td
                                                p 10 GB
                                        tr
                                            td
                                                p NIC
                                            td
                                                p 1 Mbps
                                            td
                                                p 1 + Gbps
                                        tr
                                            td
                                                p Monitor/Screen
                                            td
                                                p SVGA 1024x768
                                            td
                                                p 1280 x1024 +
                            p
                            // Plugins: AfterDisplayContent
                            // End body
                            // End Social sharing
                            a.itemRelTitle(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58/item/38-fina-administrator-skills-requirements')
                                | FinA
                                | Administrator skills Requirements
                            .itemRelCat
                                | in
                                a(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58/itemlist/category/2-news') News
                            .itemRelAuthor
                                | By
                                a(rel='author', href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58/itemlist/user/236-superuser')
                                    | Super
                                    | User
                            .itemRelIntrotext
                                ol.irp-resp-li
                                    li
                                        p
                                            strong System Administrator [sadmin]
                                            |  - In order to install, configure,
                                            |                                         and
                                            |                                         maintain FinA, the designated FinA Systems Administrator should have
                                            |                                         qualifications
                                            |                                         and experience in the following areas:
                                        ul.irp-resp-li
                                            li OS: MS Windows | Linux | Solaris | AIX based on policy ;
                                            li Database server: Oracle | MS SQL Server | MySQL based on policy.
                                            li LAN administration and Security Management: Firewalls, Switches, etc.
                                            li Java : Preferable, but not obligatory;
                                            li Language skills: English Intermediate or higher;
                                        p
                                        p
                                            strong Functional Administrator [fadmin]
                                            | : Supervisor with advantage
                                            |                                         skills
                                            |                                         of Spreadsheet, Concept of the Relational database and basics of OS management.
                                            |                                         Fadmin should have qualifications and experience in the following areas:
                                        ul.irp-resp-li
                                            li Good knowledge of the financial reporting forms;
                                            li
                                                | Good knowledge of output reports: UBPR, Early Warning systems, Stress Test
                                                | Models and other reports used in Central Bank;
                                            li Spread Sheet: Advanced knowledge of Excel | OpenOffice.org calc;
                                            li Language skills: English Intermediate or higher;
                                        p
                                            strong Project
                                            strong Coordinator
                                            | : Is all hands specialist
                                            |                                         who
                                            |                                         has to coordinate and manage all tasks. In some organizations PC is from IT
                                            |                                         department with some experience in supervision, in others - it is supervisor
                                            |                                         with
                                            |                                         advantage knowledge of IT. Good knowledge of English is required.
                                        p
                                        p
                                            strong Project
                                            strong Manager [PM]:
                                            | Decision Maker from top
                                            |                                         or
                                            |                                         middle level management who is supervising the project.
                            .itemRelFulltext
                            .itemRelMedia
                            .itemRelImageGallery
                            li.even
                                a.itemRelTitle(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60')
                                    | FinA
                                    | Software Requirements
                                .itemRelCat
                                    | in
                                    a(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58/itemlist/category/2-news') News
                                .itemRelAuthor
                                    | By
                                    a(rel='author', href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58/itemlist/user/236-superuser')
                                        | Super
                                        | User
                                .itemRelIntrotext
                                    ol.irp-resp-li
                                        li
                                            | Operating System (OS) - MS Windows NT/2000/2003/XP/Vista/7, Linux, AIX and
                                            | Solaris
                                        li
                                            | Database Engine – Oracle 10g/11g, MS SQL Server 2005/2008, and MySQL 5.1. Later
                                            | versions of these database engines as well as other database engines such as IBM
                                            | DB2, PostgreSQL are being continuously evaluated for use with FinA.
                                        li
                                            | FinA Client and FinA Server – The installation packages also include the
                                            | OpenOffice.org, Java, and JBOSS, which are required to be installed in order to
                                            | run
                                            | FinA.
                                    p
                                .itemRelFulltext
                                .itemRelMedia
                                .itemRelImageGallery
                            .clr
                            .clr
                            // Plugins: AfterDisplay
                            // K2 Plugins: K2AfterDisplay
                            .clr
                        p
        // =============================================================================================================
        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        .card-body
                            #fina-sof-req.card-text
                                h2.my-4  FINA Software Requirements
                                ol.irp-resp-li
                                    li
                                        | Operating System (OS) - MS Windows NT/2000/2003/XP/Vista/7, Linux, AIX and Solaris
                                    li
                                        | Database Engine – Oracle 10g/11g, MS SQL Server 2005/2008, and MySQL 5.1. Later
                                        | versions of these database engines as well as other database engines such as IBM
                                        | DB2,
                                        | PostgreSQL are being continuously evaluated for use with FinA.
                                    li
                                        | FinA Client and FinA Server – The installation packages also include the
                                        | OpenOffice.org, Java, and JBOSS, which are required to be installed in order to run
                                        | FinA.
                                p
                            .clr
                            // Plugins: AfterDisplayContent
                            .clr
                            // End Item Rating
                            // End body
                            .itemToolbar
                                ul.irp-resp-li
                                .clr
                            // End Item Social Button
                            // End Social sharing
                            // Related items by tag
                            .itemRelated
                                h3 Related items
                                ul.irp-resp-li
                                    li.even
                                        a.itemRelTitle(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/item/38-fina-administrator-skills-requirements')
                                            | FinA
                                            | Administrator skills Requirements
                                        .itemRelCat
                                            | in
                                            a(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/category/2-news') News
                                        .itemRelAuthor
                                            | By
                                            a(rel='author', href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/user/236-superuser')
                                                | Super
                                                | User
                                        .itemRelIntrotext
                                            ol.irp-resp-li
                                                li
                                                    p
                                                        strong System Administrator [sadmin]
                                                        |  - In order to install,
                                                        |                                                 configure, and maintain FinA, the designated FinA Systems Administrator
                                                        |                                                 should have qualifications and experience in the following areas:
                                                    ul.irp-resp-li
                                                        li OS: MS Windows | Linux | Solaris | AIX based on policy ;
                                                        li
                                                            | Database server: Oracle | MS SQL Server | MySQL based on policy.
                                                        li
                                                            | LAN administration and Security Management: Firewalls, Switches,
                                                            | etc.
                                                        li Java : Preferable, but not obligatory;
                                                        li Language skills: English Intermediate or higher;
                                                    p
                                                    p
                                                        strong Functional Administrator [fadmin]
                                                        | : Supervisor with
                                                        |                                                 advantage
                                                        |                                                 skills of Spreadsheet, Concept of the Relational database and basics of
                                                        |                                                 OS
                                                        |                                                 management. Fadmin should have qualifications and experience in the
                                                        |                                                 following areas:
                                                    ul.irp-resp-li
                                                        li Good knowledge of the financial reporting forms;
                                                        li
                                                            | Good knowledge of output reports: UBPR, Early Warning systems,
                                                            | Stress
                                                            | Test Models and other reports used in Central Bank;
                                                        li
                                                            | Spread Sheet: Advanced knowledge of Excel | OpenOffice.org calc;
                                                        li Language skills: English Intermediate or higher;
                                                    p
                                                        strong Project
                                                        strong Coordinator
                                                        | : Is all hands
                                                        |                                                 specialist who has to coordinate and manage all tasks. In some
                                                        |                                                 organizations
                                                        |                                                 PC is from IT department with some experience in supervision, in others
                                                        |                                                 - it
                                                        |                                                 is supervisor with advantage knowledge of IT. Good knowledge of English
                                                        |                                                 is
                                                        |                                                 required.
                                                    p
                                                    p
                                                        strong Project
                                                        strong Manager [PM]:
                                                        | Decision Maker
                                                        |                                                 from
                                                        |                                                 top or middle level management who is supervising the project.
                                        .itemRelFulltext
                                        .itemRelMedia
                                        .itemRelImageGallery
                                    li.odd
                                        a.itemRelTitle(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-58')
                                            | FinA
                                            | Hardware Requirements
                                        .itemRelCat
                                            | in
                                            a(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/category/2-news') News
                                        .itemRelAuthor
                                            | By
                                            a(rel='author', href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/user/236-superuser')
                                                | Super
                                                | User
                                        .itemRelIntrotext
                                            p
                                                strong APPLICATION & DATABASE SERVER(s)
                                            p
                                                | This is an estimated minimum required for the application server’s
                                                | files
                                                | and database containing one year worth of data typical for a small
                                                | size
                                                | banking system. In such environment FinA Database Server and
                                                | Application
                                                | Server can be installed on same machine. The amount of RAM and CPU
                                                | speed
                                                | to adequately run the FinA database is highly dependent on the
                                                | amount of
                                                | data being processed and should be estimated during the capacity
                                                | planning phase. See minimum and recommended specifications
                                                | below:
                                            p
                                            table
                                                tbody
                                                    tr
                                                        td
                                                            p
                                                                strong Requirement
                                                        td
                                                            p
                                                                strong Minimum
                                                        td
                                                            p
                                                                strong Recommended
                                                    tr
                                                        td
                                                            p CPU
                                                        td
                                                            p AMD/Celeron/Intel 1.0 MGH +
                                                        td
                                                            p Two 4-Core Intel® Xeon®
                                                    tr
                                                        td
                                                            p RAM
                                                        td
                                                            p 8 GB
                                                        td
                                                            p 32 GB
                                                    tr
                                                        td
                                                            p HDD
                                                        td
                                                            p 200 GB HDD
                                                        td
                                                            p 500 GB RAID 10 with 5(+) x 15 rpm or SSD HDDs
                                                    tr
                                                        td
                                                            p NIC
                                                        td
                                                            p 1 Mbps+
                                                        td
                                                            p 1 Gbps
                                                    tr
                                                        td
                                                            p Monitor/Screen
                                                        td
                                                            p 1024x768 +
                                                        td
                                                            p 1280 x1024 +
                                            br
                                            | For minimum and recommended configurations see also useful links
                                            |                                                 below:
                                            br
                                            ol.irp-resp-li
                                                li
                                                    | Microsoft® SQL Server (MS SQL Server):
                                                    a(href='http://www.microsoft.com/sql/default.mspx') http://www.microsoft.com/sql/default.mspx
                                                li
                                                    | Oracle® Database (Oracle):
                                                    a(href='http://www.oracle.com/database/index.html') http://www.oracle.com/database/index.html
                                                li
                                                    | MySQL:
                                                    a(href='http://www.mysql.com/') http://www.mysql.com
                                            |                                                 .
                                            strong DCS | Data Collection Server(s)
                                            table
                                                tbody
                                                    tr
                                                        td
                                                            p
                                                                strong Requirement
                                                        td
                                                            p
                                                                strong Minimum
                                                        td
                                                            p
                                                                strong Recommended
                                                    tr
                                                        td
                                                            p CPU
                                                        td
                                                            p AMD/Celeron/Intel 1.0 MGH +
                                                        td
                                                            p Two 4-Core Intel® Xeon®
                                                    tr
                                                        td
                                                            p RAM
                                                        td
                                                            p 6 GB
                                                        td
                                                            p 16 GB
                                                    tr
                                                        td
                                                            p HDD
                                                        td
                                                            p 100 GB HDD
                                                        td
                                                            p 500 GB +
                                                    tr
                                                        td
                                                            p NIC
                                                        td
                                                            p 1 Mbps+ (DMZ)
                                                        td
                                                            p 100 + Mbps (DMZ)
                                                    tr
                                                        td
                                                            p Monitor/Screen
                                                        td
                                                            p 1024x768 +
                                                        td
                                                            p 1280 x1024 +
                                            strong
                                                br
                                            | DCS server has to be installed in
                                            |                                                 DMZ
                                            strong
                                                br
                                            br
                                            strong CLIENT WORKSTATION
                                            table
                                                tbody
                                                    tr
                                                        td
                                                            p
                                                                strong Requirement
                                                        td
                                                            p
                                                                strong Minimum
                                                        td
                                                            p
                                                                strong Recommended
                                                tbody
                                                    tr
                                                        td(colspan='3')
                                                            p
                                                    tr
                                                        td
                                                            p CPU
                                                        td 1 GHZ
                                                        td
                                                            p 2 + GHZ
                                                    tr
                                                        td
                                                            p RAM
                                                        td
                                                            p 2 GB
                                                        td
                                                            p 4 + GB
                                                    tr
                                                        td
                                                            p HDD Free Space
                                                        td
                                                            p 1 GB
                                                        td
                                                            p 10 GB
                                                    tr
                                                        td
                                                            p NIC
                                                        td
                                                            p 1 Mbps
                                                        td
                                                            p 1 + Gbps
                                                    tr
                                                        td
                                                            p Monitor/Screen
                                                        td
                                                            p SVGA 1024x768
                                                        td
                                                            p 1280 x1024 +
                                        p
                                        .itemRelFulltext
                                        .itemRelMedia
                                        .itemRelImageGallery
                                    li.even
                                        a.itemRelTitle(href='/index.php/en/2014-03-17-15-53-25/dms')
                                            | Document Management
                                            | System
                                        .itemRelCat
                                            | in
                                            a(href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/category/2-news') News
                                        .itemRelAuthor
                                            | By
                                            a(rel='author', href='/index.php/en/2014-03-17-15-53-25/2014-03-17-15-53-29/2013-01-31-07-09-60/itemlist/user/236-superuser')
                                                | Super
                                                | User
                                        .itemRelIntrotext
                                            table.contentpaneopen
                                                tbody
                                                    tr
                                                        td(valign='top')
                                                            p
                                                                strong Document Management
                                                            p
                                                                | Ensure complete, secure control of the document lifecycle, with
                                                                | straightforward search, storage, indexing, and version management.
                                                                | Application examples include Enterprise Document Management,
                                                                | Enterprise
                                                                | Content Management (ECM), Web Content Management (WCM), Content
                                                                | Management Interoperability Services (CMIS), and Collaboration.
                                                            p
                                                                strong Benefits:
                                                                | Streamlined, automated lifecycle
                                                                |                                                     management;
                                                                |                                                     Fast, easy access to searchable content; Mitigated risk thorough
                                                                |                                                     audit
                                                                |                                                     trails and use histories
                                                            h4
                                                                strong Key Features:
                                                            ul.irp-resp-li
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Document Management
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Web Content Management
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Collaboration
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Content Platform and Repository
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Content Management Interoperability Services (CMIS)
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong
                                                                            | Records Management
                                                                            br
                                                                li
                                                                    span(style='color: #000000;')
                                                                        strong Image Management
                                                            p
                                                                | Our Document Management solutions provide organizations with all the
                                                                | services necessary for creating, converting, managing, and sharing
                                                                | electronic documents. Built on industry-standard open source
                                                                | platforms,
                                                                | our solutions ensure completeness, validity, traceability, and
                                                                | inalterability of important documents ranging from employment and
                                                                | maintenance contracts to purchase agreements and collaboration
                                                                | agreements with a business partners. Additional features include
                                                                | version
                                                                | management, search capabilities, and visual representation of
                                                                | relationships and dependencies.
                                                                br
                                                                br
                                                                | An intuitive interface
                                                                |                                                     allows
                                                                |                                                     administrators to import and export workspaces and documents, and
                                                                |                                                     manage
                                                                |                                                     users and security based on Users, Groups, and Roles. Presentation
                                                                |                                                     templates and dashboard views provide personalized and real-time
                                                                |                                                     reporting of selected content. The preview feature shows content in
                                                                |                                                     combination with other elements, and the composite document feature
                                                                |                                                     helps to logically group documents and digital assets for specific
                                                                |                                                     marketing projects. Comprehensive search capabilities support
                                                                |                                                     indexing,
                                                                |                                                     metadata, and multi-category searches.
                                                            h4
                                                                strong Comprehensive Integration and Formatting Options
                                                            p
                                                                | Our Document Management solutions are interoperable with any database
                                                                | (Oracle, MySQL, etc.), any membership system (RDBMS, LDAP, Windows
                                                                | Directory Services, etc.), any operating system (Windows, Linux,
                                                                | Solaris, etc.), and any external system (.NET, J2EE, Python, PHP,
                                                                | etc.).A built-in data management and transformation engine enables
                                                                | organizations to transform data into required formats based on
                                                                | business
                                                                | rules. And an integrated workflow tool gives users complete control
                                                                | over
                                                                | document lifecycle management and process flow.
                                        .itemRelFulltext
                                        .itemRelMedia
                                        .itemRelImageGallery
                                .clr
                            p
        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        #fina-net-req.card-body
                            p.card-text
                            h2.my-4  FINA Network Requirements
                            p
                                | All data processing and analysis takes place on the FinA application server. Therefore, FinA
                                | does
                                | not require a high-speed network connection. The recommended local area network (LAN) speed is
                                | 100 +
                                | Mbps from the FinA client machine to the FinA application server machine. If the FinA
                                | application
                                | server and FinA database server are installed on different machines, the recommended LAN speed
                                | is
                                | 100 Mbps from the application server machine to the database server machine.



        include includes/footer

        include includes/js/core

        include includes/js/custom

        script(type='text/javascript').
            window.onresize = function () {
                responsiveIRP();
            };

            $(document).ready(function () {
                responsiveIRP();
            });

            function responsiveIRP() {
                if (window.innerWidth < 500) {
                    $(".irp-resp-li").addClass("responsive-IRP");
                }
                else {
                    $(".irp-resp-li").removeClass("responsive-IRP");
                }
            }