doctype html
html(lang='en')

    head
        include includes/header

        title FINA EMS

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h3 Coming Soon ...


        include includes/footer
        include includes/js/core
        include includes/js/custom
