doctype html
html(lang='en')

    head
        include includes/header
        title FINA: Integrated System for Ministry of Finance - iMOF

        include includes/css/core

        // Page level plugin CSS
        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        .container-fluid
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100.padding-left.padding-right
                        .row
                            .col-12.text-center
                                h2 Integrated System for Ministry of Finance
                        .row
                            .col-12
                                p.text-justify iMOF is an integrated system to support the Ministry of Finance in  successful adjustment of government expenditures and revenues in accordance with the social and economic policy priorities and improves the Public Finance Management process.
                                p.text-justify Following tools and components are in use in development process:
                                ul.irp-resp-li
                                    li .NET Framework 4.x, C#, Microsoft Visual Studio 2017/19
                                    li Microsoft SQL Server Management Studio - TSQL
                                    li Microsoft Analysis Services Implementation - MDX
                                    li Microsoft Report Server - RDL/RDLC
                                    li HTML, JavaScript, Ext JS / Ext.NET.

        include includes/footer
        include includes/js/core
        include includes/js/custom
