doctype html
html(lang='en')

  head
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
    script().
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-6079561-7');


    meta(http-equiv="Cache-control" content="public")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='FINA is a software development and consulting company established in 2006 in Georgia. We are partners with Oracle and Pentaho. FINA has been awarded in two different business award in year nominations "the best complex business solution"(2016) and "The innovative business of the year"(2017)')
    meta(name='author', content='')

    meta(property="og:url", content="http://fina2.net" )
    meta(property="og:type", content="article" )
    meta(property="og:title", content="Change Title" )
    meta(property="og:description", content="Change Description" )
    meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )


    title FINA - Software Development & IT Consulting

    include includes/css/core

    // Page level plugin CSS
    include includes/css/custom

  body
    include includes/navbar
    include includes/media-icons

    header
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('assets/img/tbc1.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('assets/img/Giti award.png')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          // Slide Three - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('assets/img/redback.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          .carousel-item(style="background-image: url('assets/img/red2.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    // Page Content
    .project-section
      header(style="margin-top:0")
        .container.text-center
          h1 Our Products
    .container.pt-3
    .container-fluid.container-padding
      .row
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-legal(style="color:white; font-size:25px")
            div(style="padding:10px 15px 10px calc(50px + 3vw);")
              a(href='FINA-IRP.html' style="font-weight:bold; font-size:20px") FINA IRP
              br
              a(href='FINA-IRP.html' style="font-weight:bold; color:black; font-size:16px") Integrated Regulatory Platform
              p.card-text.mt-2
                |In response to the need for better bank supervision systems was developed Integrated Regulatory Platform called FINA, Which is the system to collect data from banks, store them in the data base and generate different reports using very flexible report designer tools.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-line-chart(style="color:white; font-size:25px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a(href='prod_fina.html' style="font-weight:bold; font-size:20px") FINA BI
                br
                a(href='prod_fina.html' style="font-weight:bold; color:black; font-size:16px") Business Intelligence (Analytics)
                p.card-text.mt-2
                  | The Business Intelligence (BI) developed by FINA refers to technologies, applications and practices for the collection, integration, analysis, and presentation of business information. The purpose of Business Intelligence is to support better business decision making.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-lightbulb-o(style="color:white; font-size:30px;margin-left:4px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a(href='dkms.html' style="font-weight:bold; font-size:20px") DKMS
                br
                a(href='dkms.html' style="font-weight:bold; color:black; font-size:16px") Knowledge Management System
                p.card-text.mt-2
                  | Dynamic Knowledge Management Systems is IT system that stores and retrieves knowledge, improves collaboration, locates knowledge sources, mines repositories for hidden knowledge, captures and uses knowledge, or in some other way enhances the KM process.

    .project-section
      header(style="margin-top:0")
        .container.text-center
          h1 about us
    .container-fluid.container-padding
      .row
        .col-lg-4.col-md-6.sm-12.padding-top
          .card.h-100
            h4.card-header.card-header-danger FINA
            .card-body
              p.card-text
                | FINA is a software development and consulting company established in 2006 in Georgia which has developed an open-source regulatory platform for financial supervisors called FINA IRP.
            .card-footer
              form(method='get', action='FINA-IRP.html' style="margin:auto")
                button.btn.my-btn(type='submit') more
        .col-lg-4.col-md-6.sm-12.padding-top
          .card.h-100
            h4.card-header.card-header-danger What we do
            .card-body
              p.card-text
                | The core business line of the company is software development and IT consulting for Financial Supervisors. FINA has carried out about 15 projects in regulatory agencies in more than 10 countries
            .card-footer
              form(method='get' style="margin:auto")
                button.btn.my-btn(type='submit') more
        .col-lg-4.col-md-6.sm-12.padding-top
          .card.h-100
            h4.card-header.card-header-danger Who we are
            .card-body
              p.card-text
                | We belive that it is people who make, run and grow organizations. The primary responsibility of the engineers at our company is to assist your ongoing software development activities.
            .card-footer
              form(method='get', action='team.html' style="margin:auto")
                button.btn.my-btn(type='submit') more

    .project-section
      header
        .container.text-center
          h1 Recent Projects
      section.timeline
        .container-fluid.container-padding
          .timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInLeft
              img(src="assets/img/FINA.png").card-img-top
              p(style="color:red; font-size:20px").text-center Integrated Regulatory Platform at National Bank of Georgia
              .date MAY 2018
              p.card-text(style="padding-bottom:20px")
                | FINA Implemented Financial Supervision Database system called “FINA” in Bank Supervision Department which included: DCS(Data Collection Server) - Web portal to collect data from financial institutions, FINA IRP - Mainc system to manage forms of financial reports, schedules, validation rules... and FINA Report Designer - based on LibreOffice Addin to create beautiful reports.
          .timeline-item.target-timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInRight
              img(src="assets/img/eiec.png").card-img-top
              p(style="color:red; font-size:20px").text-center  Knowledge Management for Environmental Protection
              .date DEC 2017
              p.card-text(style="padding-bottom:20px")
                | DKMS (Dynamic Knowledge Management System) Climate Modul was implemented in Environmental Center of Georgia, system creates user friendly dashboards and reports for monitoring climate changes in Georgia
          .timeline-item.target-timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInLeft
              img(src="assets/img/FINAK.png").card-img-top
              p(style="color:red; font-size:20px").text-center  Integrated Regulatory Platform at Central Bank of Kosovo
              .date MAY 2017
              p.card-text(style="padding-bottom:20px")
                | FINA Implemented Financial Supervision Database system called “FINA” in Bank Supervision Department which included: DCS(Data Collection Server) - Web portal to collect data from financial institutions, FINA IRP - Mainc system to manage forms of financial reports, schedules, validation rules... and FINA Report Designer - based on LibreOffice Addin to create beautiful reports.


    include includes/footer

    include includes/js/core

    include includes/js/custom

    script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    script(type='text/javascript').
        $(function () {

            window.sr = ScrollReveal({reset: true, scale: 1});
            sr.reveal('.js--fadeInRight');

            if ($(window).width() < 768) {

                if ($('.timeline-content').hasClass('js--fadeInLeft')) {
                    $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
                }
                sr.reveal('.js--fadeInRight');
            } else {
                sr.reveal('.js--fadeInLeft');
                sr.reveal('.js--fadeInRight');
            }
            sr.reveal('.js--fadeInLeft');
            sr.reveal('.js--fadeInRight');
        });

        responsiveClass('.target-timeline-item', "timeline-margin", false);

