doctype html
html(lang='en')

  head
    include includes/header
    meta(name='description', content='FINA LLC is an IT Software Development Company. FINA main products are Supervision (Suptech) and Regulatory Platform (Regtech) softwares.')
    meta(name='author', content='')

    meta(property="og:url", content="http://fina2.net" )
    meta(property="og:type", content="article" )
    meta(property="og:title", content="FINA LLC - IT Software Development Company" )
    meta(property="og:description", content="FINA LLC is an IT Software Development Company. FINA main products are Supervision (Suptech) and Regulatory Platform (Regtech) softwares." )
    meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )


    title FINA LLC - IT Software Development Company

    include includes/css/core

    // Page level plugin CSS
    include includes/css/custom

  body
    include includes/navbar
    include includes/media-icons

    header
      #carouselExampleIndicators.carousel.slide(data-ride='carousel').d-none.d-md-block
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
          li(data-target='#carouselExampleIndicators', data-slide-to='4')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('assets/img/carusel/web/fina-un-global-compa.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('assets/img/carusel/web/fina-giti-2019.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          .carousel-item(style="background-image: url('assets/img/carusel/web/FINA-Award-TBC-Bank-2017.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          .carousel-item(style="background-image: url('assets/img/carusel/web/fina-giti-2016.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          .carousel-item(style="background-image: url('assets/img/carusel/web/fina-covid-19-corona.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              a(href="Fina-covid-19.html") &nbsp Read More
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    //      responsive slider
    #carouselExampleIndicatorsResponsive.carousel.slide(data-ride='carousel').d-sm-block.d-md-none
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicatorsResponsive', data-slide-to='0')
        li(data-target='#carouselExampleIndicatorsResponsive', data-slide-to='1')
        li(data-target='#carouselExampleIndicatorsResponsive', data-slide-to='2')
        li(data-target='#carouselExampleIndicatorsResponsive', data-slide-to='3')
        li(data-target='#carouselExampleIndicatorsResponsive', data-slide-to='4')
      .carousel-inner(role='listbox')
        // Slide One - Set the background image for this slide in the line below
        .carousel-item.active(style="background-image: url('assets/img/carusel/mob/fina-un-global-compa.jpg')")
          .carousel-caption.d-none.d-md-block
            h3
            p
        // Slide Two - Set the background image for this slide in the line below
        .carousel-item(style="background-image: url('assets/img/carusel/mob/fina-giti-2019.jpg')")
          .carousel-caption.d-none.d-md-block
            h3
            p
        .carousel-item(style="background-image: url('assets/img/carusel/mob/FINA-Award-TBC-Bank-2017.jpg')")
          .carousel-caption.d-none.d-md-block
            h3
            p
        .carousel-item(style="background-image: url('assets/img/carusel/mob/fina-giti-2016.jpg')")
          .carousel-caption.d-none.d-md-block
            h3
            p
        .carousel-item(style="background-image: url('assets/img/carusel/mob/fina-covid-19-corona.jpg')")
          .carousel-caption.d-md-block
            h3
              a(href="Fina-covid-19.html") &nbsp Read More
      a.carousel-control-prev(href='#carouselExampleIndicatorsResponsive', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicatorsResponsive', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
    // Page Content

    .project-section
      header(style="margin-top:0")
        .container.text-center
          h1 Fina Products
    .container.pt-3
    .container-fluid.container-padding
      .row
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-legal(style="color:white; font-size:25px")
            div(style="padding:10px 15px 10px calc(50px + 3vw);")
              a.cardtextheading(href='Regulatory-Platform-FINA-IRP.html') FINA IRP
              br
              a.cardtextsubheading(href='Regulatory-Platform-FINA-IRP.html') Integrated Regulatory Platform
              p.card-text.mt-2
                |In response to the need for better bank supervision (Suptech / Regtech) systems were developed the Integrated Regulatory Platform, Which is the system to collect data from banks, store them in the database and generate different reports using very flexible report designer tools.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-line-chart(style="color:white; font-size:25px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Data-visualization-tools-fina-bi.html') BI
                br
                a.cardtextsubheading(href='Data-visualization-tools-fina-bi.html') Business Intelligence (Analytics)
                p.card-text.mt-2
                  | BI tools enable you to transform unstructured data into comprehensible information that are visualized in interactive dashboards, which can further be queried and filtered to come up with more relevant insights and data based decisions. The purpose of Business Intelligence is to support better business decision making.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-lightbulb-o(style="color:white; font-size:30px;margin-left:4px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Dynamic-Knowledge-Management-System-FINA.html') DKMS
                br
                a.cardtextsubheading(href='Dynamic-Knowledge-Management-System-FINA.html') Knowledge Management System
                p.card-text.mt-2
                  | Dynamic Knowledge Management System is an IT system that stores and retrieves knowledge, improves collaboration, locates knowledge sources, mines repositories for hidden knowledge, captures and uses knowledge, or in some other way enhances the KM process.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-building(style="color:white; font-size:30px;margin-left:2px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Financial-Institutions-Registry-FIRST-FINA.html') FIRST
                br
                a.cardtextsubheading(href='Financial-Institutions-Registry-FIRST-FINA.html') Financial Institution Registration Module
                p.card-text.mt-2
                  | FIRST, short for Financial Institutions Registry, is one of the main modules of Integrated regulatory platform, which fully covers the processes of the registration, change and cancellation of financial institutions.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-list(style="color:white; font-size:30px;margin-left:-2px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='EMS-Enforcement-Management-System-fina.html') EMS
                br
                a.cardtextsubheading(href='EMS-Enforcement-Management-System-fina.html') Enforcement Management System
                p.card-text.mt-2
                  | Plan and manage onsite inspections of financial institutions.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-file-o(style="color:white; font-size:30px;margin-left:2px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Document-Management-System-DMS-FINA.html') DMS
                br
                a.cardtextsubheading(href='Document-Management-System-DMS-FINA.html') Document Management System
                p.card-text.mt-2
                  | Document management systems replace content chaos by storing them into one place. Document management systems can integrate all business processes, filling forms workflows and approvals.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-usd(style="color:white; font-size:30px;margin-left:4px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Financial-Institutions-and-Supervisory-Entities-CREG-FINA.html') CREG
                br
                a.cardtextsubheading(href='Financial-Institutions-and-Supervisory-Entities-CREG-FINA.html') Credit Register
                p.card-text.mt-2
                  | CREG is a service that provides faster data processing and faster data writing speeds. It simplifies calculation, validation and analysis processes via a simple XML configuration file.
        .col-lg-4(style="padding-bottom:50px")
          .card.h-100
            .hexagon
            .vl
            .circle
            .some-text
              i.fa.fa-university(style="color:white; font-size:30px;margin-left:-2px")
            div
              div(style="padding:10px 15px 10px calc(50px + 3vw);")
                a.cardtextheading(href='Integrated-System-for-Ministry-of-Finance-FINA.html') iMOF
                br
                a.cardtextsubheading(href='Integrated-System-for-Ministry-of-Finance-FINA.html') Integrated System for Ministry of Finance
                p.card-text.mt-2
                  | iMOF is an integrated system to support the Ministry of Finance in  successful adjustment of government expenditures and revenues in accordance with the social and economic policy priorities and improves the Public Finance Management process.

    .project-section
      header(style="margin-top:0")
        .container.text-center
          h1 About Fina
    .container-fluid.container-padding
      .row.mt-5
        .col-md-4.col-lg-3.offset-lg-1.offset-md-0.my-auto
          img(src="assets/img/fina-logo.png" alt="logo").img-fluid
        .col-md-8.col-lg-7
          p.text-justify(style="font-family: Rubik") FINA is a software development and IT consulting company established in 2006 in Georgia. Our main preference is to earn your trust through our commitment and integrity extending maximum value and striving to exceed your expectations.
          p.text-justify(style="font-family: Rubik") Company owns a ~150 square meter office in the center of Tbilisi (Capital of Georgia). Company is equipped with up-to-date computer hardware. The basic software platform has a high degree of standardization and a wide range of specialized software and is used for system design, development, quality assurance, project management and reporting.
      .col-md-8.col-lg-7.offset-md-4.offset-lg-4
        div.text-center
          a(href='About-FINA.html')
            .btn.my-btn(style='font-weight:bold; font-family: Oxygen') Read More
    .project-section
      header
        .container.text-center
          h1 Recent Fina Projects
      section.timeline
        .container-fluid.container-padding
          .timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInRight
              img(src="assets/img/National-Bank-of-Tajikistan-LOGO-FINA.png" alt="nbt_logo").card-img-top
              p.title-color(style="font-size:20px; font-family: Rubik; font-weight: bold").text-center  Integrated Regulatory Platform at National Bank of Tajikistan
              .date JAN 2019
              p.card-text(style="padding-bottom:20px; font-family: Rubik")
                | Company Implemented Financial Supervision system (Integrated Regulatory Platform, which included implementing DCS data collecting web portal for FI's), Document management system, and Business intelligence Software - Power BI. Project scope included updating hardware base of banking and non banking supervision departments in National Bank of Tajikistan: installing servers and equipping them with necessary software, updating NBSD and BSD department staff with newest Laptops desktop computers.
          .timeline-item.target-timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInLeft
              img(src="assets/img/National-Bank-Georgia-LOGO-FINA.png" alt="nbg_logo").card-img-top
              p.title-color(style="font-size:20px; font-family: Rubik; font-weight: bold").text-center Integrated Regulatory Platform at National Bank of Georgia
              .date MAY 2018
              p.card-text(style="padding-bottom:20px; font-family: Rubik")
                | Our Company has Developed and Implemented Anti-Money Laundering Monitoring System in Anti- Money Laundering Inspection and Supervision Department of National Bank of Georgia during the period of June 2017 — May 2018. Project goal was development and implementation of the automatic electronic supervisory reporting and management system.
          .timeline-item.target-timeline-item
            .timeline-img
            .timeline-content.timeline-card.js--fadeInRight
              img(src="assets/img/Environmental-information-and-education-centre-logo.fina.png" alt="eiec_logo").card-img-top
              p.title-color(style="font-size:20px; font-family: Rubik; font-weight: bold").text-center  Knowledge Management for Environmental Protection
              .date DEC 2017
              p.card-text(style="padding-bottom:20px; font-family: Rubik")
                | DKMS (Dynamic Knowledge Management System) Climate Module was implemented in the Environmental Center of Georgia, system creates user friendly dashboards and reports for monitoring climate changes in Georgia.

    include includes/footer

    include includes/js/core

    include includes/js/custom

    script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    script(type='text/javascript').
        $(function () {

            window.sr = ScrollReveal({reset: true, scale: 1});
            sr.reveal('.js--fadeInRight');

            if ($(window).width() < 768) {

                if ($('.timeline-content').hasClass('js--fadeInLeft')) {
                    $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
                }
                sr.reveal('.js--fadeInRight');
            } else {
                sr.reveal('.js--fadeInLeft');
                sr.reveal('.js--fadeInRight');
            }
            sr.reveal('.js--fadeInLeft');
            sr.reveal('.js--fadeInRight');
        });

        responsiveClass('.target-timeline-item', "timeline-margin", false);

