doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='FINA is a software development and consulting company established in 2006 in Georgia. We are partners with Oracle and Pentaho. FINA has been awarded in two different business award in year nominations "the best complex business solution"(2016) and "The innovative business of the year"(2017)')
    meta(name='author', content='')

    title FINA - Software Development & IT Consulting

    include includes/css/core

    // Page level plugin CSS

    include includes/css/custom

  body
    include includes/navbar
    include includes/media-icons

    header
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
          li(data-target='#carouselExampleIndicators', data-slide-to='3')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('assets/img/tbc1.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('assets/img/Giti award.png')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          // Slide Three - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('assets/img/redback.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
          .carousel-item(style="background-image: url('assets/img/red2.jpg')")
            .carousel-caption.d-none.d-md-block
              h3
              p
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    // Page Content
    .container-fluid.container-padding
      h2.text-center.padding-top.padding-bottom Our Products
      .row.padding-bottom
        .col-lg-4.col-sm-6.portfolio-item.padding-bottom
          .card.h-100
            a
              img.card-img-top(src='assets/img/irp.png', alt='')
            .card-body
              h3.card-title
                a(href='prod_fina.html') Integrated Regulatory Platform
              p.card-text
                | In response to the need for better bank supervision systems was developed Integrated Regulatory Platform called FINA, Which is the system to collect data from banks, store them in the data base and generate different reports using very flexible report designer tools.
        .col-lg-4.col-sm-6.portfolio-item.padding-bottom
          .card.h-100
            a
              img.card-img-top(src='assets/img/bi.png', alt='')
            .card-body
              h3.card-title
                a(href='#', style="margin:1px") Business Intelligence (Analytics)
              p.card-text
                | The Business Intelligence (BI) developed by FINA refers to technologies, applications and practices for the collection, integration, analysis, and presentation of business information. The purpose of Business Intelligence is to support better business decision making.
        .col-lg-4.col-sm-6.portfolio-item.padding-bottom
          .card.h-100
            a
              img.card-img-top(src='assets/img/kms.png', alt='')
            .card-body
              h3.card-title
                a(href='#') Knowledge Management System
              p.card-text
                | Dynamic Knowledge Management Systems is IT system that stores and retrieves knowledge, improves collaboration, locates knowledge sources, mines repositories for hidden knowledge, captures and uses knowledge, or in some other way enhances the KM process.
      h2.my-4
      // Marketing Icons Section
      .row
        .col-lg-4.col-sm-6.mb-4.padding-top
          .card.h-100
            h4.card-header.card-header-danger FINA
            .card-body
              p.card-text
                | FINA is a software development and consulting company established in 2006 in Georgia which has developed an open-source regulatory platform for financial supervisors called FINA IRP.
            .card-footer
                form(method='get', action='FINA-IRP.html')
                  button.btn.my-btn(type='submit') more
        .col-lg-4.col-sm-6.mb-4.padding-top
          .card.h-100
            h4.card-header.card-header-danger What we do
            .card-body
              p.card-text
                | The core business line of the company is software development and IT consulting for Financial Supervisors. FINA has carried out about 15 projects in regulatory agencies in more than 10 countries
            .card-footer
                form(method='get')
                  button.btn.my-btn(type='submit') more
        .col-lg-4.col-sm-6.mb-4.padding-top
          .card.h-100
            h4.card-header.card-header-danger Who we are
            .card-body
              p.card-text
                | We belive that it is people who make, run and grow organizations. The primary responsibility of the engineers at our company is to assist your ongoing software development activities.
            .card-footer
                form(method='get', action='team.html')
                  button.btn.my-btn(type='submit') more
      h2.text-center.padding-top Recent Projects
      hr
      .row
        div.col-lg-4.col-sm-6.padding-bottom
          .card.h-100
            img.card-img-top(src='assets/img/FINA.png', alt='')
            .card-body
              h4.card-title
                a(href='Clients.html#fina@Georgia') Integrated Regulatory Platform at National Bank of Georgia
              p.card-text
                | FINA Implemented Financial Supervision Database system called “FINA” in Bank Supervision Department which included: DCS(Data Collection Server) - Web portal to collect data from financial institutions, FINA IRP - Mainc system to manage forms of financial reports, schedules, validation rules... and FINA Report Designer - based on LibreOffice Addin to create beautiful reports.
        div.col-lg-4.col-sm-6.padding-bottom
          .card.h-100
            img.card-img-top(src='assets/img/FINA1.png', alt='')
            .card-body
              h4.card-title
                a(href='Clients.html#fina@Georgia2') Knowledge Management for Environmental Protection
              p.card-text
                | DKMS (Dynamic Knowledge Management System) Climate Modul was implemented in Environmental Center of Georgia, system creates user friendly dashboards and reports for monitoring climate changes in Georgia
        div.col-lg-4.col-sm-6.padding-bottom
          .card.h-100
            img.card-img-top(src='assets/img/FINAK.png', alt='')
            .card-body
              h4.card-title
                a(href='Clients.html#fina@Kosovo') Integrated Regulatory Platform at Central Bank of Kosovo
              p.card-text
                | FINA Implemented Financial Supervision Database system called “FINA” in Bank Supervision Department which included: DCS(Data Collection Server) - Web portal to collect data from financial institutions, FINA IRP - Mainc system to manage forms of financial reports, schedules, validation rules... and FINA Report Designer - based on LibreOffice Addin to create beautiful reports.
      // /.row
      hr


    include includes/footer

    include includes/js/core

    include includes/js/custom


