doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='FINA has business relationship with lots of big organizations like Oracle, Pentaho and others')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/partners.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="Change Title" )
        meta(property="og:description", content="Change Description" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title Partners - FINA

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        h2.text-center Partners
        .container
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        .card-body
                            a(href="http://www.pentaho.com/" target="_blank")
                                img(src="assets/img/part/Pentaho.png").card-img-top
                            p
                                strong Pentaho
                                a(href="http://www.pentaho.com/" target="_blank") [www.Pentaho.com]
                            p Pentaho is a business intelligence (BI) software company that offers open source products which provide data integration, OLAP services, reporting, information dashboards, data mining and extract, transform, load (ETL) capabilities. It is headquartered in Orlando, Florida. Pentaho was acquired by Hitachi Data Systems in 2015. On September 19, 2017, Pentaho became part of Hitachi Vantara, a new company that unifies the operations of Pentaho, Hitachi Data Systems and Hitachi Insight Group.
                            hr
                            a(href="http://www.oracle.com/" target="_blank")
                                img(src="assets/img/part/Oracle.png").card-img-top
                            p
                                strong Oracle
                                a(href="http://www.oracle.com/" target="_blank") [www.oracle.com]
                            p Oracle is shifting the complexity from IT, moving it out of the enterprise by engineering hardware and software to work together—in the cloud and in the data center. By eliminating complexity and simplifying IT, Oracle enables its customers—400,000 of them in more than 145 countries around the world—to accelerate innovation and create added value for their customers.
                            hr
                            a(href="http://www.redhat.com/en" target="_blank")
                                img(src="assets/img/part/Redhat.png").card-img-top
                            p
                                strong Redhat
                                a(href="http://www.redhat.com/en" target="_blank") [www.redhat.com]
                            p Red Hat, Inc. is an American multinational software company providing open-source software products to the enterprise community. Founded in 1993, Red Hat has its corporate headquarters in Raleigh, North Carolina, with satellite offices worldwide.
                            hr
                            a(href="http://www.vizkeyweb.com" target="_blank")
                                img(src="assets/img/part/VizKey.png").card-img-top
                            p
                                strong VizKey
                                a(href="http://www.vizkeyweb.com" target="_blank") [www.vizkeyweb.com]
                            p Oracle is shifting the complexity from IT, moving it out of the enterprise by engineering hardware and software to work together—in the cloud and in the data center. By eliminating complexity and simplifying IT, Oracle enables its customers—400,000 of them in more than 145 countries around the world—to accelerate innovation and create added value for their customers.
                            hr
                            a(href="http://www.alfresco.com/" target="_blank")
                                img(src="assets/img/part/Alfresco.png").card-img-top
                            p
                                strong Alfresco
                                a(href="http://www.alfresco.com/" target="_blank") [www.alfresco.com]
                            p VizKey™ is the software environment for analysts and investigators to collect, represent, explore and provide information in an understandable form for the recipient. VizKey™ depicts large amounts of information in a graphic form and represents data by objects and their relationships. Together with the functionality of data analyses, it helps to understand what happens, find and identify key figures and events.
                            hr
                            a(href="http://www.westfalia-it.com/" target="_blank")
                                img(src="assets/img/part/Westfalia.png").card-img-top
                            p
                                strong Westfalia
                                a(href="http://www.westfalia-it.com/" target="_blank") [www.westfalia-it.com]
                            p “Systemhaus Westfalia" is an El Salvador- based It company, focused on Open Source Solutions. Together with our Partners we deliver World Class solutions for our customers with limited budgets.
                            hr


        include includes/footer

        include includes/js/core

        include includes/js/custom

