doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='FINA has business relationship with lots of big organizations like Oracle, Pentaho and others')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/partners.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="Change Title" )
        meta(property="og:description", content="Change Description" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title Partners - FINA

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        include includes/media-icons

        h2.text-center Partners
        .container
            .row
                .col-lg-8.offset-lg-2.portfolio-item
                    .card.h-100
                        .card-body
                            a(href="https://www.microsoft.com/en-us/" target="_blank")
                                img(src="assets/img/part/Microsoft_FINA.png").card-img-top.mt-3
                            h3
                                strong
                                    a(href="https://www.microsoft.com/en-us/" target="_blank") Microsoft
                            p Microsoft Corporation is an American multinational technology company with headquarters in Redmond, Washington. It develops, manufactures, licenses, supports, and sells computer software, consumer electronics, personal computers, and related services. Its best known software products are the Microsoft Windows line of operating systems, the Microsoft Office suite, and the Internet Explorer and Edge web browsers.
                            hr
                            a(href="http://www.redhat.com/en" target="_blank")
                                img(src="assets/img/part/Redhat_FINA.png").card-img-top.mt-3
                            h3
                                strong
                                    a(href="http://www.redhat.com/en" target="_blank") Redhat
                            p Red Hat, Inc. is an American multinational software company providing open-source software products to the enterprise community. Founded in 1993, Red Hat has its corporate headquarters in Raleigh, North Carolina, with satellite offices worldwide.
                            hr
                            a(href="https://www.hitachivantara.com/en-us/home.html" target="_blank")
                                img(src="assets/img/part/Hitachi_FINA.png").card-img-top.mt-3
                            h3
                                strong
                                    a(href="https://www.hitachivantara.com/en-us/home.html" target="_blank") Hitachivantara
                            p Hitachi Vantara elevates innovation advantage by merging operational and informational experience to offer a data partner with unprecedented range and depth in data management. They are analytics, industrial expertise, technology and outcomes rolled into one great solution provider.
                            hr
                            a(href="http://www.alfresco.com/" target="_blank")
                                img(src="assets/img/part/Alfresco_FINA.png").card-img-top.mt-3
                            h3
                                strong
                                    a(href="http://www.alfresco.com/" target="_blank") Alfresco
                            p Alfresco Software, Inc. ("Alfresco") is an enterprise open source software company focused on advancing the flow of digital business. The company provides a better more effortless way for people to work, making sure they have the information they need, exactly when they need it the most. The Alfresco Digital Business Platform is used to digitize processes, manage content and securely govern information.
                            hr
                            a(href="http://www.vizkeyweb.com" target="_blank")
                                img(src="assets/img/part/VizKey_FINA.png").card-img-top.mt-3
                            H3
                                strong
                                    a(href="http://www.vizkeyweb.com" target="_blank") VizKey
                            p VizKey™ is the software environment for analysts and investigators to collect, represent, explore and provide information in an understandable form for the recipient. VizKey™ depicts large amounts of information in a graphic form and represents data by objects and their relationships. Together with the functionality of data analyses, it helps to understand what happens, find and identify key figures and events.
                            hr



        include includes/footer

        include includes/js/core

        include includes/js/custom

