doctype html
html(lang='en', xmlns="http://www.w3.org/1999/xhtml")

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(http-equiv="Cache-control" content="public")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='FINA is a software development and consulting company established in 2006 in Georgia. We are partners with Oracle and Pentaho. FINA has been awarded in two different business award in year nominations "the best complex business solution"(2016) and "The innovative business of the year"(2017)')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/vacancies.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="When Great Minds Don’t Think Alike" )
        meta(property="og:description", content="How much does culture influence creative thinking?" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title FINA LLC

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar

        .container-fluid.padding-top.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

        include includes/footer
        include includes/js/core
        include includes/js/custom
        script(src='assets/js/vacancies.js')

