doctype html
html(lang='en', xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#", xmlns:fb="https://www.facebook.com/2008/fbml")

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/vacancies.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="When Great Minds Don’t Think Alike" )
        meta(property="og:description", content="How much does culture influence creative thinking?" )
        meta(property="og:image", content="assets/img/redback.jpg" )



        title FINA LLC

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar

        .container-fluid.padding-top.padding-bottom
            .row
                .col-lg-10.offset-lg-1
                    .container-fluid.vacancies-head

        include includes/footer
        include includes/js/core
        include includes/js/custom
        script(src='assets/js/vacancies.js')

