doctype html
html(lang='en')

    head
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-6079561-7" async)
        script().
            window.dataLayer = window.dataLayer || [];
            function gtag() {dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-6079561-7');

        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        meta(property="og:url", content="http://fina2.net/wiki.html" )
        meta(property="og:type", content="article" )
        meta(property="og:title", content="Change Title" )
        meta(property="og:description", content="Change Description" )
        meta(property="og:image", content="http://fina2.net/assets/img/Giti%20award.png" )

        title FINA LLC

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        //iframe(id="wiki-doc" src="https://drive.google.com/embeddedfolderview?id=1D2gq12scfBglOcBGFYZ5nyCBvgCQ8qcL#grid" height="300px" width="100%" frameborder="0")
        iframe(src="https://drive.google.com/embeddedfolderview?id=0BxmMbqMff49lNjc3MTEwNWEtMmRjMi00MDc3LWEwNmItYjVkMDczOGM2N2E4#grid" height="960px" width="100%" frameborder="0")
        include includes/footer
        include includes/js/core
        include includes/js/custom
