doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title FINA LLC

        include includes/css/core

        // Page level plugin CSS

        include includes/css/custom

    body
        include includes/navbar
        //iframe(id="wiki-doc" src="https://drive.google.com/embeddedfolderview?id=1D2gq12scfBglOcBGFYZ5nyCBvgCQ8qcL#grid" height="300px" width="100%" frameborder="0")
        iframe(src="https://drive.google.com/embeddedfolderview?id=0BxmMbqMff49lNjc3MTEwNWEtMmRjMi00MDc3LWEwNmItYjVkMDczOGM2N2E4#grid" height="960px" width="100%" frameborder="0")
        include includes/footer
        include includes/js/core
        include includes/js/custom
