// Bootstrap core JavaScript
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
//script(src='vendor/jquery-easing/jquery.easing.min.js')
script(src='assets/js/core/jquery.min.js')
script(src='assets/js/core/popper.min.js')
script(src='assets/js/bootstrap-material-design.js')
script(src='assets/js/material-kit.js')
script(src='assets/js/plugins/moment.min.js')
script(src='assets/js/plugins/bootstrap-datetimepicker.min.js')
script(src='assets/js/plugins/nouislider.min.js')
script(src='assets/js/plugins/social-share-kit.js')
