@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oxygen|Raleway|Rubik&display=swap');
body {
  background-color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
}
.menuitem {
  font-family: Rubik;
  font-weight: bold;
}
.cardtextsubheading {
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.cardtextheading {
  font-family: "Hepta Slab";
  font-weight: bold;
  font-size: 20px;
}

a {
  text-decoration: none !important;
  color: #FF0000;
}

a:hover {
  color: #FF0000;
}


.padding-top {
  padding-top: 30px;
}

.padding-bottom {
  padding-bottom: 30px;
}

.padding-left {
  padding-left: 30px;
}

.padding-right {
  padding-right: 30px;
}

.container-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.responsive-IRP {
  padding: 0 !important;
  margin: 0 !important;
}

nav {
  background-color: white;
}

nav .navbar_fina_logo {
  width: 70px;
}

nav a {
  color: #FF0000 !important;
  font-weight: bold !important;
}

nav .navbar-toggler {
  font-size: 20px;
  color: white !important;
  background-color: #E85245;
  margin: 1px !important;
}

nav .navbar-toggler .navbar-toggler-icon {
  display: block;
  width: 22px;
  height: 2px;
  background-color: white !important;
  border-radius: 1px;
  margin-top: 5px;
  margin-bottom: 2px;
}

nav .dropdown-menu {
  background-color: #f8f8f8;
}

nav .dropdown-menu a {
  font-weight: bold;
}

nav .dropdown-menu a:hover {
  color: white !important;
}

.navbar-container {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.dropdown-menu {
  top: 90% !important;
}

.fa-adn {
  background-color: #504e54;
}

.fa-apple {
  background-color: #aeb5c5;
}

.fa-android {
  background-color: #A5C63B;
}

.fa-bitbucket, .social-icons .fa-bitbucket-square {
  background-color: #003366;
}

.fa-bitcoin, .social-icons .fa-btc {
  background-color: #F7931A;
}

.fa-css3 {
  background-color: #1572B7;
}

.fa-dribbble {
  background-color: #F46899;
}

.fa-dropbox {
  background-color: #018BD3;
}

.fa-facebook-square, .fa-facebook, .social-icons {
  background-color: #3C599F;
}

.fa-flickr {
  background-color: #FF0084;
}

.fa-foursquare {
  background-color: #0086BE;
}

.fa-github, .social-icons .fa-github-alt, .social-icons .fa-github-square {
  background-color: #070709;
}

.fa-google-plus, .social-icons .fa-google-plus-square {
  background-color: #CF3D2E;
}

.fa-html5 {
  background-color: #E54D26;
}

.fa-instagram {
  background-color: #A1755C;
}

.fa-linkedin, .social-icons .fa-linkedin-square {
  background-color: #0085AE;
}

.fa-linux {
  background-color: #FBC002;
  color: #333;
}

.fa-maxcdn {
  background-color: #F6AE1C;
}

.fa-pagelines {
  background-color: #241E20;
  color: #3984EA;
}

.fa-pinterest, .social-icons .fa-pinterest-square {
  background-color: #CC2127;
}

.fa-renren {
  background-color: #025DAC;
}

.fa-skype {
  background-color: #01AEF2;
}

.fa-stack-exchange {
  background-color: #245590;
}

.fa-stack-overflow {
  background-color: #FF7300;
}

.fa-trello {
  background-color: #265A7F;
}

.fa-tumblr, .social-icons .fa-tumblr-square {
  background-color: #314E6C;
}

.fa-twitter, .social-icons .fa-twitter-square {
  background-color: #32CCFE;
}

.fa-vimeo-square {
  background-color: #229ACC;
}

.fa-vk {
  background-color: #375474;
}

.fa-weibo {
  background-color: #D72B2B;
}

.fa-windows {
  background-color: #12B6F3;
}

.fa-xing, .social-icons .fa-xing-square {
  background-color: #00555C;
}

.fa-youtube, .social-icons .fa-youtube-play, .social-icons .fa-youtube-square {
  background-color: #C52F30;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  width: 10%;
  color: rgba(195, 195, 195, 0.6) !important;
}

.carousel-control-next {
  width: 10%;
  color: rgba(195, 195, 195, 0.6) !important;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-title {
  font-weight: normal;
  text-align: center;
}

.card-title a {
  color: #f21818;
}

.card-header {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.card-header {
  text-align: center;
  color: #f21818;
}

.card-text {
  text-align: justify;
  font-family: Rubik;
  font-weight: normal;
}

.project-content-btn {
  height: 33px;
  width: 33px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-size: 20px;
  background-color: #D7D7D7;
  float: right;
}

.project-content-btn:hover {
  background-color: #ca0820;
  color: #fff;
  border: #fff;
}

.my-btn {
  border-radius: 2em;
  background-color: #ff1100 !important;
  color: white !important;
  padding-bottom: 10px !important;
}

.my-btn:hover {
  background-color: #FF0000 !important;
}

.btn-danger {
  background-color: #ca0820 !important;
}

.footer {
  padding: 50px 5% 20px 5%;
  background-color: #707070
;
  color: white;
}

.footer .title {
  color: white;
  font-size: 25px;
}

.footer .category a {
  color: white !important;
  display: inline-block;
  padding: 5px 20px 0 20px;
  margin: 2px;
  border-radius: 4px;
  background-color: #393939;
  border: solid 1px #fff;
}

.footer .category a:hover {
  background-color: #E85245;
}

.footer .payment {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer .payment li {
  list-style-type: none;
}

.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
}

.footer .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer hr {
  background-color: #393939;
}

.footer .links-img {
  height: 20px;
  padding-right: 15px;
}

.footer a {
  color: white;
}

#footer-main-content * {
  float: left;
}

#footer-main-content .list-group {
  width: 100% !important;
}

#footer-main-content .list-group-item {
  padding: 0 !important;
}

#footer-main-content ul {
  padding-top: 0;
}

#footer-main-content ul li a {
  padding-left: 0;
  padding-bottom: 10px;
  padding-top: 7px;
  text-decoration: underline;
}

#footer-main-content .footer-underline {
  border-top: solid 1px rgba(255, 255, 255, 0.6);
}

#footer-main-content .footer-item:hover {
  font-style: italic;
  color: #FFFFFF;
  text-decoration: underline;
}

#footer-main-content .footer-item:hover a {
  color: #ffffff;
}

.footer-contact-info i {
  padding-right: 10px;
}

.footer-contact-info p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.asd {
  color: #E85245;
}

.responsive-class * {
  float: none !important;
}

.responsive-copyright {
  text-align: center !important;
}

.responsive-copyright .text-right, .responsive-copyright .text-left {
  text-align: center !important;
}

#contact-page-details {
  background-color: #E85245;
  padding-top: 10px;
}

#contact-page input[type=text], #contact-page input[type=tel], #contact-page input[type=email] {
  width: 100%;
  border-width: 0 0 1px 0;
}

#contact-page textarea {
  width: 100%;
  border-width: 0 0 1px 0;
  height: 150px !important;
}

#contact-page .form-control:focus {
  box-shadow: none;
}

#contact-page .padding-top {
  padding-top: 10px !important;
}

.bmd-label-floating {
  color: #3e3e3e !important;
}

#contact-map {
  width: 100%;
}

.contact-right-side {
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  padding-left: 5% !important;
  padding-right: 5% !important;
  position: absolute;
  z-index: 10;
}

.contact-right-side span {
  color: rgba(0, 0, 0, 0.75);
}

.contact-right-side hr {
  background-color: #f21818;
}

.map-padding {
  padding-top: calc(300px + 30vh) !important;
}

.map-padding2 {
  padding-top: calc(580px + 6vh) !important;
}

.some-cont2 {
  position: absolute;
  z-index: 1;
}

.cont-box {
  margin-top: 10px;
  padding-top: calc(30px + 1vh);
  height: calc(180px + 2vh);
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#fina-overview-nav a {
  font-size: 20px;
}

.title-color {
  color: #FF0000;
}

.hexagon {
  z-index: 2;
  margin-top: -5px;
  margin-left: 1.5vw;
  position: absolute;
  width: 50px;
  height: 28.87px;
  background-color: #f21818;
  color: white;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid #f21818;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid #ff0000;
}

.vl {
  z-index: 2;
  position: absolute;
  border-left: 4px solid #FF0000;
  height: 120px;
  margin-left: calc(23px + 1.5vw);
}

.circle {
  z-index: 2;
  position: absolute;
  margin-top: 119px;
  margin-left: calc(17px + 1.5vw);
  border: 3px solid #FF0000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.some-text {
  z-index: 3;
  position: absolute;
  margin-top: -6px;
  margin-left: calc(12px + 1.5vw);
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.hvrbox * {
  box-sizing: border-box;
}

.hvrbox img {
  max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 23, 50, 0.8);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid #b3b3b3;
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}

.hvrbox .active .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hvrbox .active .hvrbox-text_mobile {
  display: block;
}

.hvrbox .active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-layer_slideup {
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.hvrbox:hover .hvrbox-layer_slideup {
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hvrbox:hover .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.client-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vacancies-title {
  font-size: 30px;
  text-align: center;
}

.vacancies-img {
  width: 100% !important;
  height: 100% !important;
}

.vacancies-form {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.vacancies-form a {
  color: white !important;
  background-color: #f21818;
  border-radius: 2em;
  padding: 5px 10px 5px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.vacancies-form a:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.vacancies-hr {
  background-color: #f20000;
}

.vacancies-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.vacan-btn {
  width: 178px;
}

.project-section section {
  padding: 50px 0;
}

.project-section h1 {
  margin-top: 10px;
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.project-section header {
  margin-top: 60px;
  background: #f21818;
  color: #FFFFFF;
  padding: 10px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.project-section header p {
  font-family: 'Allura';
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.project-section a {
  background: #f21818;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.project-section a:hover, .project-section a:active, .project-section a:focus {
  background: #cc0000;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  background: #e98d88;
  width: 5px;
  height: 92.5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 35px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #f21818;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #FFFFFF;
  border-left-color: #FF0000;
  padding: 0 20px;
}

.date {
  background: #FF0000;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.timeline-margin {
  margin-top: -25vh !important;
}