// Footer
footer.footer
  .container-fluid
    #footer-main-content.row
      .col-md-3
        h4.title FINA LLC
        p.text-left Don't miss what happens around us, follow us on our social channels
        .social-icons.icon-circle
          a(href='https://www.facebook.com/FINA2.NET/?ref=br_rs')
            i.fa.fa-facebook-square
          a(href='https://www.youtube.com/user/fina2net')
            i.fa.fa-youtube
          a(href='https://twitter.com/fina2')
            i.fa.fa-twitter
          a(href='https://www.linkedin.com/company/fina-ltd/')
            i.fa.fa-linkedin
      .col-md-3
        h4.title Menu
        .category
          a(href='about_fina.html') Team
          a(href='partners.html') Partners
          a(href='clients.html') Clients
          a(href='http://summit2015.fina2.net') Workshops
      .col-md-3
        h4.title Products
        .category
          a(href='FINA_overview.html') FINA IRP
          a(href='') FINA BI
          a(href='') FINA STAT
          a(href='') FINA EMS
          a(href='') DKMS
      .col-md-3
        h4.title Contact
        .footer-contact-info
          p
            i.fa.fa-map-marker
            a Shartava N40 str. Tbilisi
          p
            i.fa.fa-phone
            a  + 995 032 2 42 03 18
          p
            i.fa.fa-envelope-o
            a Info@fina2.net
    hr
    #copyright.row
      .col-sm-6.text-left
        p(style='font-size: 12px')
          | Copyright 2018. All right reserved
      .col-sm-6.text-right
        p(style='font-size: 12px')
          | Developed by:
          a(href='http://fina.bi') FINA LLC