// Bootstrap core CSS
// Custom fonts for this template
link(href='assets/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Arimo|Ruda|Oswald|Ubuntu")
link(rel="stylesheet", href="assets/css/material-kit.min.css" )
link(rel="stylesheet", href="assets/css/social-share-kit.min.css")