#contact-page-details{
  background-color: #E85245;
  padding-top: 10px;
}

#contact-page{
  input {
    &[type=text], &[type=tel], &[type=email] {
      width: 100%;
      border-width: 0 0 1px 0;
    }
  }
  textarea{
    width: 100%;
    border-width: 0 0 1px 0;
    height: 150px!important;
  }

  .form-control{
    &:focus {
      box-shadow: none;
    }
  }
  .padding-top{
    padding-top: 10px!important;
  }
}

.bmd-label-floating{
  color: #3e3e3e !important;
}

#contact-map{
  width: 100%;
}
.contact-right-side{
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 20px;
  padding-left:5%!important;
  padding-right:5%!important;
  position: absolute;
  z-index:10;

  span{
    color: rgba(0, 0, 0, 0.75);
  }
  hr{
    background-color:#FF0000
  }
}

#building{
  background-image: url('../../assets/img/building.jpg');
  width: 400px;
  height: 400px;
}

.map-padding{
  padding-top: 418px!important;
}
