
footer {

}

.footer {

  padding: 50px 5% 20px 5%;
  background-color: #707070;
  color: white;
  .title {
    color: white;
    font-size: 25px;
    font-family: Rubik;
  }
  .category {
    a {
      color: white !important;
      display: inline-block;
      padding: 5px 20px 0 20px;
      margin: 2px;
      border-radius: 4px;
      background-color: #393939;
      border: solid 1px #fff;
      &:hover {
        background-color: $light-red;
      }
    }
  }

  .payment {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        display: inline-block;
        color: #fff;
        float: left;
        font-size: 25px;
        padding: 10px 10px;
      }
    }
  }

  .container-fluid{
    padding-left: 0!important;
    padding-right: 0!important;
  }

  hr {
    background-color: #393939;
  }
  .links-img {
    height: 20px;
    padding-right: 15px;
  }
  a{
    color: white;
  }
}
#footer-main-content{
  *{
    float:left;
  }
  .list-group{
    width: 100%!important;

  }
  .list-group-item{
    padding: 0!important;
  }
  ul{
    padding-top: 0;

    li {
      a {
        padding-left: 0;
        padding-bottom: 10px;
        padding-top: 7px;
        text-decoration: underline;
      }
    }
  }

  .footer-underline{
    border-top: solid 1px rgba(255, 255, 255, 0.6);
  }
  .footer-item:hover{
    font-style: italic;
    color: #FFFFFF;
    text-decoration: underline;
    a{
      color: #ffffff;
    }
  }
}

.footer-contact-info {
  i {
    padding-right: 10px;
  }
  p {
    padding: 0;
    margin: 0;

    font-size: 18px;
  }
}

.asd{
  color: #E85245 ;
}

.responsive-class{
  *{
    float: none!important;
  }
}

.responsive-copyright{
    text-align: center !important;
    .text-right, .text-left {
      text-align: center !important;
    }
}
