// Global styling for this template

body{
  background-color: white!important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif !important;
}
.menuitem {
  font-family: Rubik;
  font-weight: bold;
}
.cardtextsubheading {
  font-family: Rubik;
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.cardtextheading {
  font-family: "Hepta Slab";
  font-weight: bold;
  font-size: 20px;
}

a{
  text-decoration: none!important;
  color: $primary-color;
  &:hover{
    color: $primary-color;
  }
}

.padding-top{
  padding-top: 30px;
}
.padding-bottom{
  padding-bottom: 30px;
}
.padding-left{
  padding-left: 30px;
}
.padding-right{
  padding-right: 30px;
}

.container-padding{
  padding-left: 5%;
  padding-right: 5%;
}

.responsive-IRP{
    padding: 0!important;
    margin: 0!important;
}


//covid styles

.covid-main-container{
  padding-left: 300px;
  padding-right: 120px;
}

.covid-text-container{
  padding: 15px;
  background-color: #EEEEF1;
  font-family: Rubik, serif;
  font-size: 15px;
  border-radius: 4px;
  opacity: 1;

  a {
    color: #3c4858;
  }
}
