// Global styling for this template

body{
  background-color: white!important;
}

h1, h2, h3, h4, h5, h6{



  font-family: 'Ruda', sans-serif !important;

}
a{
  text-decoration: none!important;
  color: $red;
  &:hover{
    color: $red;
  }
}

.padding-top{
  padding-top: 30px;
}
.padding-bottom{
  padding-bottom: 30px;
}
.padding-left{
  padding-left: 30px;
}
.padding-right{
  padding-right: 30px;
}

.container-padding{
  padding-left: 5%;
  padding-right: 5%;
}


