nav{


  background-color: white;

  a {
    color: $red !important;
    font-weight: bold!important;
  }
  .navbar-toggler{
    font-size: 20px;
    color: white!important;
    background-color: $light-red;
    margin: 1px!important;
    .navbar-toggler-icon {
      display: block;
      width: 22px;
      height: 2px;
      background-color: white!important;
      border-radius: 1px;
      margin-top: 5px;
      margin-bottom: 2px;
    }
  }

  .dropdown-menu{
    background-color: #f8f8f8;
    a{
      font-weight: bold;
      &:hover{
        color:white!important;
      }
    }
  }
}
.navbar-container{
  padding-left: 5%;
  padding-right: 5%;
}

.navbar{
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.dropdown-menu{
  top:90%!important;
}
